// Mixin itself
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin sttl-large{
  position: relative;
  margin: 0 auto 2em;
	font-size:2.4rem;
	padding:10px 0;
  font-weight: bold;
	border-bottom:5px solid #eff7fc;
  max-width: 900px;
  &:after{
    position: absolute;
    bottom: -5px;
    left: 0;
    display: inline-block;
    content: "";
    height: 5px;
    width: 180px;
    background: #42b9d0;
  }
  @media screen and (max-width: 767px){
    margin: 0 auto 1.5em;
  	font-size:1.8rem;
  	padding:10px 0;
    &:after{
      width: 100px;
    }
  }
}

@mixin sttl-small {
  margin: 0 auto 1em;
	font-size:2rem;
  font-weight: bold;
	background: #eff7fc url(/assets/images/common/icon_smallttl.png) 1em center no-repeat;
	padding:0.8em 1em 0.8em 2.6em;
  max-width: 900px;
  @media screen and (max-width: 767px){
    margin: 0 auto 1em;
  	font-size:1.5rem;
    font-weight: normal;
  	background: #eff7fc url(/assets/images/common/icon_smallttl.png) 0.8em center no-repeat;
    background-size: 1em;
  	padding:0.6em 0.8em 0.6em 2.6em;
    line-height: 1.2;
  }
}





@mixin sttl-tooth{
  position: relative;
  margin: 1em auto 0.5em;
	font-size:2.6rem;
	padding:10px 0 10px 50px;
  font-weight: bold;
  max-width: 900px;
  background: url(/assets/images/common/icon_tooth.png) 0 center no-repeat;

  @media screen and (max-width: 767px){
    font-size:2.1rem;
    padding:10px 0 10px 40px;
    background: url(/assets/images/common/icon_tooth.png) 0 center no-repeat;
    background-size: 1.2em auto;
  }
}
