@charset "utf-8";

/* CSS Document */
* {
  margin:0px;
  padding:0px;
  font-size:100%;
  list-style:none;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  transition:all 0.3s;
}
html {
  font-size:62.5%;
}
article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, figure, figcaption {
  display:block;
}
body {
  width:100%;
  font-size:1.2rem;
  line-height:1.6;
  text-align:center;
  color:#1a171b;
  background:#ffffff;
  font-family:Lora,'Noto Sans Japanese',游ゴシック体,'Yu Gothic',YuGothic,'ヒラギノ角ゴシック Pro','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  //font-family:Lato,游ゴシック体,'Yu Gothic',YuGothic,'ヒラギノ角ゴシック Pro','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
  //font-family:'Arial', 'Lucida Grande', 'FOT-筑紫ゴシック Pro R', 'TsukuGoPro-D', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', Osaka, sans-serif;
}
#wrapper {
  width:100%;
  background:#ffffff;
  -webkit-filter:brightness(1) blur(0px);
  filter:brightness(1) blur(0px);
  -webkit-transition:all 0.4s;
  -moz-transition:all 0.4s;
  transition:all 0.4s;
  overflow:hidden;
  letter-spacing: 1px;
}
::selection{
  background: #536782;
  color: #ffffff;
}
::-moz-selection{
  background: #536782;
  color: #ffffff;
}

html.open {
  overflow:hidden;
}
body.open {
  overflow:hidden;
}
body.open #wrapper {
  -webkit-filter:brightness(1.2) blur(5px);
  filter:brightness(1.2) blur(5px);
  overflow:hidden;
}


img, a img {
  border:none;
  vertical-align:bottom;
}
a {
  text-decoration: none;
}
a:link {
  color:#536782;
  text-decoration: none;
}
a:visited {
  color:#536782;
  text-decoration: none;
}
a:hover img {
  opacity: 0.7;
}

article, section {
  text-align:left;
}

.pc_visible {display:inline-block;}
.sp_visible {display:none;}
img {max-width:100%;}

article {
  clear:both;
  position:relative;
  width:100%;
  z-index:200;
}
.wrap {
  position:relative;
  width:100%;
  max-width:110rem;
  margin:0 auto;
  padding:0 2rem;
}


#loading{
    position: absolute;
    left: 0;
    top: 48%;
    right:0;
    margin: auto;
    img{
      width: 300px;
    }
  }

#loader-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background:rgba(23,90,145,1);
    z-index: 1;
}



.blockSttl{
  font-size: 4rem;
  margin: 0 auto 50px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  line-height: 140px;
  padding: 0 0;
  // &__sub{
  //   position: relative;
  //   bottom: -20px;
  //   // height: 100px;
  //   font-size: 1.2rem;
  //   letter-spacing: 2px;
  //   color: #3d9add;
  //   text-align: left;
  //   //width: 85px;
  //   padding: 0 0 0 50px;
  //   //line-height: 100px;
  //   display: inline-block;
  //   &:after{
  //     position: absolute;
  //     top: 20px;
  //     left: 0;
  //     content: "";
  //     display: inline-block;
  //     width: 100px;
  //     height: 1px;
  //     //margin: 0 0 0 -10px;
  //     background: #ccc;
  //     -webkit-transform:rotate(-45deg);
  //     transform:rotate(-45deg);
  //   }
  // }
}


@media screen and (max-width:1080px){
  .blockSttl{
    font-size: 3.5rem;
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 767px){
  // .headerBox{background: #ff0!important;}
  img {
    -webkit-backface-visibility:hidden;
  }
  a:hover {
    text-decoration:none;
  }
  .wrap {
    padding:0 1.5rem;
  }

  .blockSttl{
    font-size: 2.3rem;
    margin: 0 auto 30px;
    padding: 0 ;
    letter-spacing: 1px;
    // &__sub{
    //   bottom: -25px;
    //   font-size: 1rem;
    //   padding: 0 0 0 30px;
    //   margin: 0 0 0 -15px;
    //   &:after{
    //     top: 25px;
    //     width: 70px;
    //   }
    // }
    // &__sub{
    //   display: block;
    //   width: auto;
    //   height: 30px;
    //   bottom: 20px;
    //   font-size: 1.2rem;
    //   text-align: center;
    //   padding-top: 10px;
    //   padding-left: 34px;
    //
    //   &:after{
    //     right: 0;
    //     left: 0;
    //     margin: auto;
    //   }
    // }


  }
  .pc_visible {display:none;}
  .sp_visible {display:inline-block;}
}

@media screen and (max-width: 375px){
  .blockSttl{
    font-size: 1.9rem;
    margin: 0 0 10px ;
    letter-spacing: 0px;
    padding: 0;
    // &__sub{
    //   bottom: -10px;
    //   font-size: 1rem;
    //   width: 30px;
    //   padding: 0 0 0 20px;
    //   margin: 0 0 0;
    //   letter-spacing: 1px;
    //   line-height: 1.4;
    //   &:after{
    //     top: -20px;
    //     bottom: 0;
    //     width: 35px;
    //     margin: auto;
    //   }
    // }
  }
}





/* HEADER */


.headerBox {
  position:relative;
  max-width: 1340px;
  padding: 0 30px;
  margin:0 auto;
  clear: both;
  overflow: hidden;
  .naviBox {
    display:none;
  }
  #logo {
    float: left;
    text-align:left;
    padding:45px 0;
    vertical-align: middle;
    a{
      display: inline-block;
      img{
        vertical-align: middle;
      }
    }
  }
  &__logo{
    height: auto;
    width: 50vw;
    max-width: 518px;
  }
  &__access{
    float: left;
    display: inline-block;
    background: #ddefef;
    color: #000;
    font-size: 1.3em;
    margin: 55px 20px 0;
    padding: 10px 15px;
  }
  .telBox{
    margin: 45px 0 15px;
    float: right;
    &__tel{
    }
  }
}
.telBox{
  &__tel{
    color: #175A91;
    vertical-align: bottom;
    font-size: 2rem;
    a{
      color: #175A91!important;
    }
  }
  &__telnum{
    display: inline-block;
    margin: 0 0 0 3px;
    font-size: 2.8rem;
  }
  &__teltxt{
    position: relative;
    bottom : 6px;
    display: inline-block;
    background: #175A91;
    color: #fff;
    padding: 5px 10px 4px;
    margin: 0 0 0 5px;
    font-size: 1.3rem;
  }
}
.naviHr {
  display:block;
  position:relative;
  width:100%;
  font-weight:bold;
  //background: linear-gradient(-135deg, #93cfe9, #1b87d8);
  background:#1b87d8;
  z-index:2000;
  &__list {
    display:flex;
    justify-content:space-between;
    width:100%;
    max-width:130rem;
    // height:2rem;
    margin:0 auto 0;
    &:hover{
      .naviHr__link:hover {
       opacity:1;
       color:#fff;
     }
    }
  }
  &__item {
    flex-grow:1;  }
  &__link {
    display:block;
    width:100%;
    padding: 30px 0 28px;
    color:#fff!important;
    text-decoration:none;
    font-size: 2.1rem;
    transition:all 0.3s;
    &:before{
      content: "";
      display: inline-block;
      margin: 0 6px 4px 0;
      width: 30px;
      height: 30px;
      background: url(/assets/images/common/icon_nav.png) 0 center no-repeat;
      vertical-align: middle;
    }
  }
  &:hover{
    .naviHr__link {
      opacity:0.2;
    }
  }
}
.naviHrSub__list {
  display:flex;
  justify-content:space-between;
  flex-wrap:wrap;
  position:absolute;
  top:3rem;
  left:2.8rem;
  padding:0 1rem 1rem;
  visibility:hidden;
  opacity:0;
  background:#ffffff;
  transition:all 0.3s;
  transform:translateX(-30%);
  box-shadow:0 0 2rem rgba(75,83,95,0.1);
}
.naviHrSub__item {
  padding:0;
  text-align:left;
  &:not(.all) .naviHrSub__link {
    display:block;
    margin:0;
    padding:1rem 1.5rem;
    text-decoration:none;
    color:#085990;
    font-size:1.1rem;
  }
  &:not(.all) .naviHrSub__link:hover {
    background:#f3f9fc;
  }
  &.all .naviHrSub__link {
    padding:0;
  }
}
.naviHrSub__listtxt {
  display:inline-block;
  width:49rem;
  padding: 2rem;
  border-radius: 5px;
  .naviHrSub__item {
    display: inline-block;
    width:auto;
    width: 22rem;
    .naviHrSub__link {
      position: relative;
      font-size: 1.7rem;
    }
    .naviHrSub__linkicon{
      display: inline-block;
      //background: #93cfe9;
      height: 4rem;
      width: auto;
      text-align: center;
      padding: 0 0;
      margin: 0 5px 0 0;
      vertical-align: middle;
      img{
        border-radius: 10px;
        height: 4rem;
        width: auto;
        margin: 0 0 0;
      }
      &:hover{
        img{
          border-radius: 10px;
        }
      }
    }
  }
}
@media screen and (max-width:1400px){
  .naviHr {
    &__link {
      font-size: 1.7vw;
    }
  }
}
@media screen and (max-width:1268px){
  .headerBox {
    .telBox{
      margin: 5px 0 15px;
    }
  }
}
@media screen and (max-width:1000px){
  .naviHr {
    &__link {
      padding: 25px 0 22px;
      font-size: 1.7vw;
      &:before{
        content: "";
        display: inline-block;
        margin: 0 8px 4px 0;
        width: 16px;
        height: 16px;
        background: url(/assets/images/common/icon_nav.png) 0 center no-repeat;
        background-size: 16px auto;
        vertical-align: middle;
      }
    }
  }

  .naviHrSub__listtxt {
    display:inline-block;
    width:45rem;
    padding: 1.5rem;
    .naviHrSub__item {
      width: 20rem;
      .naviHrSub__link {
        font-size: 1.5rem;
      }
    }
  }

  .headerBox {
    &__access{
      float: right;
      display: inline-block;
      background: #ddefef;
      color: #000;
      font-size: 1.2em;
      margin: 25px 0 0 0;
      padding: 5px 10px;
    }
  }

}

@media screen and (max-width: 767px){
  .headerBox {
    padding: 0 30px;
    .naviBox {
      display:none;
    }
    #logo {
      float: none;
      margin: auto;
      padding: 25px 0;
      width: 30vw;
      a{
        img{
        }
      }
    }
    &__logo{
      height: auto;
      width: 100%;
      max-width: 202px;
    }
    &__access{
      float: none;
      font-size: 1.1em;
      margin: 5px auto 20px;
    }
    .telBox{
      display: none;
    }


    .naviBox{
      display: inline-block;
      position:absolute;
      top:0;
      right:0;
      width:20rem;
      z-index:2000;
      padding:0;
      a{
        display:block;
        //height:5rem;
        margin:0.5rem 0;
        padding:1rem 0.9rem;
        overflow:hidden;
        float:right;
      }
      .menu{
        padding:3rem 3rem 1rem;
        img {
          height:4.5rem;
        }
      }
    }
  }
  .naviHr {display:none;}
}




@media screen and (max-width: 375px){
  .headerBox {
    padding: 0 30px;
    #logo {
      float: none;
      margin: auto;
      padding: 25px 0;
      width: 33vw;
    }
    &__logo{
      height: auto;
      width: 100%;
      max-width: 202px;
    }
    &__access{
      font-size: 1em;
      margin: 5px auto 15px;
      padding: 5px;
    }
    .naviBox{
      a{
      }
      .menu{
        padding:2rem 2rem 1rem;
        img {
          height:3rem;
        }
      }
    }
  }

}



/* NAVI */
#navi {
  display:none;
}

@media screen and (max-width: 767px){
  #navi {
    display: block;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    visibility:hidden;
    transform:scale(1.5);
    -webkit-transition:opacity 0.4s;
    -moz-transition:all 0.4s;
    transition:all 0.4s;
    background:rgba(23,90,145,0.9);
    z-index:1000;
    .navIn {
      padding:10px;
      overflow:hidden;
      z-index:200;
    }
    a{
      color: #fff;
      &#close {
        position:absolute;
        top:1.2rem;
        right:1.2rem;
        width:3rem;
        height:3rem;
        overflow:hidden;
        z-index:500;
        &::before,
        &::after {
          content:'';
          display:block;
          position:absolute;
          top:1.5rem;
          left:0;
          width:3rem;
          height:0.1rem;
          background:#fff;
          -webkit-transform-origin:50% 50%;
          transform-origin:50% 50%;
        }
        &::before {
          -webkit-transform:rotate(-45deg);
          transform:rotate(-45deg);
        }
        &::after {
          -webkit-transform:rotate(45deg);
          transform:rotate(45deg);
        }
      }
    }
    &.open {
      opacity:1;
      visibility:visible;
      transform:scale(1);
    }
    .navi {
      margin:4rem 0 0;
      &__item {
        font-size:1.6rem;
      }
      &__list{
        text-align:center;
      }
      &__link {
        text-decoration:none;
        line-height:4.6rem;
        color:#fff;
      }
    }
    .navIn__logo{
      border-top:1px solid rgba(255,255,255,0.1);
      padding: 20px 0 0;
      margin: 30px auto 0;
      img{
        width: 220px;
      }
    }
  }
}






/* FOOTER */

.footerBlock {
  position:relative;
  width:100%;
  padding: 70px 0 35px;
  background:#fff;
  overflow:hidden;
  z-index:2000;
  .infoBlock{
    width: 38%;
    float: left;
    text-align: left;
    &__logo{
      display: inline-block;
      padding: 0 0 35px;
      margin: 0 0 30px;
      border-bottom: 1px solid #e7f1f5;
      img{
        width: 100%;
        max-width: 362px;
      }
    }
    .telBox{
      &__tel{
        margin: 0 0 10px;
      }
    }
    &__access{
      line-height: 2;
      font-size: 1.3em;
      a{
        color: #3d9bdd;
      }
    }
  }
  .aboutBlock{
    float: right;
    width: 58%;
    &__time{
      margin: 0 0 5px;
      width: 100%;
      border-collapse:  collapse;
      thead{
        background: #3d9bdd;
        color: #fff;
        font-size: 1.3em;
        th{
          padding: 8px;
          font-weight: normal;
          border: 1px solid #3d9bdd;
        }
      }
      tbody{
        font-size: 1.4em;
        th{
          padding: 10px 20px;
          text-align: left;
          font-weight: normal;
          border: 1px solid #3d9bdd;
        }
        td{
          width: 11.2%;
          font-size: 1.3em;
          border: 1px solid #3d9bdd;
          span{
            font-size: 1.1rem;
          }
        }
      }
    }
    &__caution{
      margin: 0 0 20px;
      font-size: 1.3rem;
      text-align: right;
    }
    &__note{
      padding: 20px 25px 15px;;
      font-size: 15px;
      background: #f4f9fb;
      text-align: left;
      &__list{
        padding-left: 1em;
        text-indent: -1em;
        li{
          margin: 0 0 5px;
        }
      }
    }
  }
  .policy{
    margin: 20px auto;
    display: inline-block;
    padding: 3px 0;
    font-size: 1.2em;
    a{
      color: #3d9bdd;
    }
    :before{
      content: "▲";
      display: inline-block;
      width: 1em;
      margin: 0 5px 4px 0;
      font-size: 0.8em;
      transform: rotate(90deg);
      color: #ddd;
      vertical-align: middle;
    }
  }
  .copy{
    clear: both;
    overflow: hidden;
    font-size: 1.1rem;
    padding: 50px 0 0;
    color: #666;
  }

}




@media screen and (max-width:1080px){
  .footerBlock {
    .infoBlock{
      margin: 0 0 40px;
      &__logo{
        img{
        }
      }
    }
    .aboutBlock{
      &__time{
        thead{
          font-size: 1.2em;
          th{
            padding: 8px;
          }
        }
        tbody{
          font-size: 1.3em;
          th{
            padding: 10px 10px;
          }
          td{
            width: 10.5%;
          }
        }
      }
      &__caution{
        font-size: 1.2rem;
        margin: 0 0 10px;
      }
      &__note{
        padding: 20px 20px 15px;
        font-size: 1.4rem;
        &__list{
        }
      }
    }
    .copy{
    }
  }
}



@media screen and (max-width: 767px){
  .footerBlock {
    padding: 70px 0 35px;
    .infoBlock{
      float: none;
      width: auto;
      display: table;
      margin: 30px auto 30px;
      clear: both;
      overflow: hidden;
      &__logo{
        // display: table-cell;
        margin: 30px auto;
        // padding: 0 20px 0 0;
        // border: none;
        // vertical-align: middle;
        img{
        }
      }
      &__txt{
        // display: table-cell;
         text-align: center;
        // vertical-align: middle;
      }
      &__access{
        font-size: 1.3rem;
      }
    }
    .aboutBlock{
      float: none;
      width: auto;
      display: table;
      margin: auto;
      &__time{
        thead{
          font-size: 1em;
          th{
            padding: 5px;
          }
        }
        tbody{
          font-size: 1.1em;
          th{
            padding: 8px;
          }
          td{
            width: 10%;
          }
        }
      }
      &__caution{
        font-size: 1.1rem;
      }
      &__note{
        padding: 20px 20px 15px;
        font-size: 1.2rem;
        &__list{
        }
      }
    }
    .policy{
      margin: 10px auto 0;
      font-size: 1.1em;
    }
    .copy{
      padding: 30px 0 0;
      font-size: 1rem;
    }
  }
}




@media screen and (max-width:375px){
  .footerBlock {
    .infoBlock{
      &__logo{
        img{
          max-width: 260px;
        }
      }
    }
    .aboutBlock{
      &__time{
        thead{
          font-size: 1em;
          th{
            padding: 4px;
            letter-spacing: 0;
          }
        }
        tbody{
          font-size: 1em;
          th{
            padding: 4px;
          }
          td{
            font-size: 1em;
            width: 10%;
          }
        }
      }
      &__caution{
        font-size: 1.1rem;
      }
      &__note{
        padding: 20px 20px 15px;
        font-size: 1.1rem;
        &__list{
        }
      }
    }


    .copy{
    }
  }
}
