.sttlBlock{
  padding: 0 0 0;
  .blockSttl{
    font-size: 3rem;
    margin: 0 auto 0;
    text-align: center;
    padding: 0 0 0;
  }
}
.breadBlock{
  padding: 30px 0 30px;
  font-size: 1.5rem;
  &__list{

  }
  &__item{
    display: inline-block;
    padding-right:  10px;
    margin: 5px 0;
    background: url(/assets/images/common/icon_breadarrow.png) right center no-repeat;
    a{
      padding: 5px;
      &:hover{
        opacity: 0.7;
      }
    }
    &:first-child{
      a{
        padding: 5px 5px 5px 2em;
        background: url(/assets/images/common/icon_bread.png) 0 center no-repeat;
        background-size: 1.2em auto;
      }
    }
    &:last-child{
        background: none;
    }
  }
}

.tabBlock{
  margin: 0 auto 100px;
  &__list{
    display: flex;
  }
  &__item{
    display: block;
    width: 50%;
    text-align: center;
    font-size: 2rem;
    border-right: 1px solid #fff;
    &:last-child{
      border-right: 0;
    }
  }
  &__link{
    display: block;
    padding: 20px;
    background: #ecf0f0;
    &:hover{
      opacity: 0.7;
    }
  }
  .active .tabBlock__link{
    background: #1b87d8;
    color: #fff;
    position:relative;
    &:after{
    	content:'';
    	position: absolute;
    	bottom:-10px;
    	left:50%;
    	margin:0 0 0 -5px;
    	width:0;
    	height:0;
    	border-right:10px solid transparent;
    	border-top:10px solid #1b87d8;
    	border-left:10px solid transparent;
    }
  }
}

.pagination{
  margin: 3rem auto;
  &__list{
    text-align: center;
  }
  &__item{
    display: inline-block;
    font-size: 2rem;
    margin: 0 3px;
    a{
      border: 1px solid #ccc;
      width: 5rem;
      height: 5rem;
      line-height: 5rem;
      display: block;
      &:hover{
        opacity: 0.7;
      }
    }
    &.active{
      background: #1b87d8;
      a{
        border-color: #1b87d8;
        color: #fff;
      }
    }
  }
}

/* sttl-large */
.sttl-large {
  @include sttl-large;
  margin-bottom: 1em;
}
/* sttl-small */
.sttl-small {
  @include sttl-small;
}
/* sttl-tooth */
.sttl-tooth {
  @include sttl-tooth;
}

/* sttl-min */
.sttl-min {
  font-size: 1.3em;
  color: #42b9d0;
  margin: 2em auto 0.2em;
}

/* textlist */
.textlist{
  text-indent: -1em;
  padding-left: 1em;
  &__item{
    margin: 0 auto 0.8em;
    .note{
      color: #e00;
      font-weight: bold;
    }
  }
}

.textlist02{
  margin-top: 0.8em;
  text-indent: -1em;
  padding-left: 1em;
  &__item{
    margin: 0 auto 0.2em;
  }
}

.linkbtn__link{
  display: inline-block;
  color: #fff!important;
  font-size: 2.4rem;
  padding: 18px 40px;
  text-align: center;
  background:#1b87d8;
  &:hover{
    opacity: 0.7;
  }
  &:after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 1em;
    background: url(/assets/images/common/icon_arrow_white.png) center center no-repeat;
    background-size: auto 0.6em;
    vertical-align: middle;
    margin: 0 0 0 10px;
  }
}



@media screen and (max-width: 767px){
  .sttlBlock{
    padding: 0 0 0;
    .blockSttl{
      font-size: 2.8rem;
    }
  }
  .breadBlock{
    padding: 30px 0 50px;
    font-size: 1.4rem;
  }


  .tabBlock{
    margin: 0 auto 30px;
    &__item{
      font-size: 1.6rem;
    }
    &__link{
      padding: 15px;
    }
  }

  .pagination{
    margin: 3rem auto;
    &__item{
      font-size: 1.6rem;
    }
  }

  /* sttl-min */
  .sttl-min {
    font-size: 1.2em;
    margin: 1.5em auto 0em;
  }


  .linkbtn__link{
    font-size: 1.6rem;
    padding: 18px 18px;
    letter-spacing: 0;
  }


}



@media screen and (max-width: 375px){
  .sttlBlock{
    padding: 0 0 0;
    .blockSttl{
      font-size: 2.3rem;
    }
  }

  .breadBlock{
    padding: 30px 0 30px;
    font-size: 1.1rem;
    &__list{

    }
    &__item{
      display: inline-block;
      padding-right:  5px;
      margin: 5px 0;
      background: url(/assets/images/common/icon_breadarrow.png) right center no-repeat;
      a{
        padding: 3px;
      }
    }
  }


  .tabBlock{
    &__item{
      font-size: 1.4rem;
    }
    &__link{
      padding: 15px;
    }
  }

  .pagination{
    margin: 3rem auto 0;
    &__item{
      font-size: 1.4rem;
      a{
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
      }
    }
  }

  /* sttl-min */
  .sttl-min {
    font-size: 1.2em;
    margin: 1em auto 0em;
  }

  .linkbtn__link{
    display: block;
    font-size: 1.5rem;
    padding: 20px 0;
  }


}




/* animation
----------------------------------------------------------------*/
/* fade in */
.fadein {
  opacity: 0;
  transition: 1s; }

.fadein.animation {
  opacity: 1; }

/* fade in up */
.fadeinup {
  opacity: 0;
  transform: translateY(20px);
  transition: 1s; }

.fadeinup.animation {
  opacity: 1;
  transform: translateY(0px); }


/* fade in left */
.fadeinleft {
opacity: 0;
transform: translateX(-20px);
transition: 1s; }

.fadeinleft.animation {
opacity: 1;
transform: translateX(0px); }


/* fade in right */
.fadeinright {
opacity: 0;
transform: translateX(20px);
transition: 1s; }

.fadeinright.animation {
opacity: 1;
transform: translateX(0px); }
