.sttlBlock{
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}


// sitepolicyBlock
.sitepolicyBlock{
  font-size: 1.8rem;
  max-width: 800px;
  margin: 0 auto 5em;
  padding: 0 10px;
  .lead{
    margin: 2em auto 2em;
  }
  .sttl-large{
    margin-top: 2em;
  }
}




 @media screen and (max-width: 767px){
  .sitepolicyBlock{
    font-size: 1.6rem;
    margin: 0 2em 5em;
    padding: 0;
 }
}



@media screen and (max-width: 375px){
  .sitepolicyBlock{
    font-size: 1.4rem;
    margin: 0 1em 2em;
    padding: 0;
 }
}


