.sttlBlock{
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}


// accessBlock
.accessBlock{
  font-size: 1.8rem;
  max-width: 1000px;
  margin: 0 auto 5em;
  padding: 0 10px;
  .access__link{
    display: inline-block;
    padding: 5px;
    text-decoration: underline;
    &:hover{
      text-decoration: none;
    }
  }
  .address{
    clear: both;
    overflow: hidden;
    background: #f4f9fb;
    padding: 25px 30px;
    margin: 3em auto 2em;
    font-weight: bold;
    &__ttl{
      display: inline-block;
      color: #42b9d0;
      padding: 0;
      &:after{
        display: inline-block;
        content: "";
        width: 1px;
        height: 2em;
        margin: 0 0 0 30px;
        background: #fff;
        vertical-align: middle;
      }
    }
    &__txt{
      display: inline-block;
      padding: 0 0 0 30px;
    }
  }
  &__txt{
    width: 56%;
    float: left;
    margin: 0 0 3em;
  }
  &__img{
    width: 40%;
    float: right;
    margin: 3em 0;
    img{
      margin: 0 0 2em;
    }
  }

}

.accessBlock__map{
  iframe{
    width: 100%;
    height: 400px;
  }
}


 @media screen and (max-width: 767px){
  .accessBlock{
    font-size: 1.6rem;
    margin: 0 2em 5em;
    padding: 0;
    .access__link{
      display: inline-block;
      padding: 0;
      margin: 0 0 0.5em;
    }

    .address{
      padding: 20px 20px;
      margin: 1em auto 2em;
      &__ttl{
        display: block;
        padding: 0;
        margin: 0 0 0.5em;
        &:after{
          display: none;
        }
      }
      &__txt{
        display: block;
        padding: 0;
      }
    }

    &__txt{
      width: auto;
      float: none;
      margin: 0 0 3em;
    }
    &__img{
      width: auto;
      float: none;
      margin: 3em 0;
      text-align: center;
      img{
        margin: 0 auto 2em;
        max-width: 400px;
      }
    }

  }
}



@media screen and (max-width: 375px){
  .accessBlock{
    font-size: 1.4rem;
    margin: 0 1em 2em;
    padding: 0;

    .address{
      padding: 15px;
      margin: 1em auto 2em;
    }



  }
 }



