.sttlBlock{
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}


// newsBlock
.newsBlock{
   padding: 80px 0 80px;
   &__listnum{
     text-align: right;
     margin: 0 0 10px;
     font-size: 1.4rem;
   }
   &__list{
     font-size: 2rem;
   }
   &__item{
     position: relative;
   }
   &__link{
     display: block;
     margin-top: -1px;
     color: #333!important;
     padding: 35px 50px 35px 35px;
     letter-spacing: 1px;
     border-top: 1px solid #ddd;
     border-bottom: 1px solid #ddd;
     &:hover{
       background: #fbfcfc;
     }
     .date{
       display: table-cell;
       width: 8.8em;
       color: #467da6;
     }
     .txt{
       display: table-cell;
     }
     .icon-new{
       position: relative;
       top: -2px;
       display: inline-block;
       margin: 0 0 5px 12px;
       background: #ef0557;
       color: #fff;
       padding: 4px 8px 2px;
       font-size: 11px;
     }
     &:after{
       position: absolute;
       right: 20px;
       top: 0;
       bottom: 0;
       margin: auto;
       content: "";
       display: inline-block;
       width: 1em;
       height: 1em;
       background: url(/assets/images/common/icon_arrow_blue.png) center center no-repeat;
      background-size: auto 1em;
       vertical-align: middle;
     }
   }
 }

 @media screen and (max-width: 767px){
   .newsBlock{
     padding: 60px 0 40px;
     &__list{
       font-size: 1.5rem;
     }
     &__item{
     }
     &__link{
       display: block;
       color: #333!important;
       padding: 12px 20px 12px 10px;
       letter-spacing: 1px;
       .date{
         display: table-cell;
       }
       .txt{
         display: table-cell;
       }
       &:after{
         position: absolute;
         right: 10px;
         top: 0;
         bottom: 0;
         margin: auto;
         content: "";
         display: inline-block;
         width: 1em;
         height: 1em;
         background: url(/assets/images/common/icon_arrow_blue.png) center center no-repeat;
         background-size: auto 1em;
         vertical-align: middle;
       }

     }
   }
 }



 @media screen and (max-width: 375px){
   .newsBlock{
     padding: 40px 0 30px;
     &__list{
       font-size: 1.5rem;
     }
     &__item{
     }
     &__link{
       display: block;
       color: #333!important;
       padding: 12px 30px 12px 10px;
       letter-spacing: 1px;
       .date{
         display: block;
         margin: 0 0 5px;
       }
       .txt{
         display: block;
       }
       .icon-new{
         font-size: 10px;
       }
     }
   }
 }

 /* --------------------------------------------------
newsDetail
 -------------------------------------------------- */

section.newsDetail{
  padding: 80px 0 0;
  .newsDetailBlock{
    &__sttlbox{
      margin: 0 auto 60px;
      max-width: 900px;
    }
    &__catebox{
      display: table-cell;
      position:relative;
      vertical-align: middle;
      line-height: 3rem;
      font-size: 1.6rem;
      width:18rem;
      height: 18rem;
      text-align: center;
      color: #fff;
      background: linear-gradient(-45deg, #93cfe9, #1b87d8);
      z-index:2000;
      .post-date{
        font-size: 2.2rem;
      }
    }
    .post-ttl{
      display: table-cell;
      font-size: 3rem;
      vertical-align: middle;
      padding: 0 0 0 30px;
      font-weight: normal;
      .icon-new{
        position: relative;
        top: -2px;
        display: inline-block;
        margin: 0 0 5px 12px;
        background: #ef0557;
        color: #fff;
        padding: 4px 8px 2px;
        font-size: 12px;
      }
    }
    &__txt{
      padding: 0 60px;
      margin: 0 0 100px;
      font-size: 2rem;
    }

  }

  .related-file,.related-link{
    display: block;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto 20px;
    a{
      padding: 20px 0;
      width: 50rem;
      display: inline-block;
      text-align: center;
      color: #fff;
      background: #1b87d8;
      &:hover{
        opacity: 0.7;
      }
      &:before{
        vertical-align: middle;;
        content: "";
        display: inline-block;
        width: 2rem;
        height: 2rem;
        margin: 0 10px 0 0;
      }
    }
  }
  .related-link{
    a{
      &:before{
        background: url(/assets/images/common/icon_link.png) 0 0 no-repeat;
        background-size: 1em;
      }
    }
  }
  .related-file{
    a{
      &:before{
        background: url(/assets/images/common/icon_download.png) 0 0 no-repeat;
        background-size: 1em;
      }
    }
  }


}

.tabBlock.detail_tabBlock{
  .active .tabBlock__link:after{
    display: none;
  }
}


/* --------------------------------------------------
post-content
-------------------------------------------------- */

.post-content{
	overflow:hidden;
}

/* post-sttl-large */

.post-sttl-large {
  @include sttl-large;
  // position: relative;
  // margin: 0 auto 2em;
	// font-size:2.4rem;
	// padding:10px 0;
  // font-weight: normal;
	// border-bottom:5px solid #eff7fc;
  // max-width: 900px;
  // &:after{
  //   position: absolute;
  //   bottom: -5px;
  //   left: 0;
  //   display: inline-block;
  //   content: "";
  //   height: 5px;
  //   width: 180px;
  //   background: #42b9d0;
  // }
}


/* post-sttl-small */

.post-sttl-small {
  @include sttl-small;
  // margin: 0 auto 1em;
	// font-size:2rem;
  // font-weight: normal;
	// background: #eff7fc url(/assets/images/common/icon_smallttl.png) 1em center no-repeat;
	// padding:0.8em 1em 0.8em 2.6em;
  // max-width: 900px;
}


/* post-pht */

.post-pht {
	margin-bottom:2em;
}


.post-pht div {
	width:100%;
	height: auto;
  max-height: 600px;
  text-align: center;
}

.post-pht img {
  height: auto;
  max-height: 600px;
  max-width: 100%;
  width: auto;
}

.post-pht figcaption{
	display:block;
	font-size:1.2rem;
	padding:5px;
	line-height:1.2;
	text-align:center;
}


/* two-post-pht */

.two-post-pht {
	display:flex;
	justify-content: space-between;
}


.two-post-pht .post-pht {
	width:48%;
	font-size:1.6rem;
	vertical-align:top;
}

@media screen and (max-width: 420px) {

	.post-pht div {
		max-height: 300px;
	}

	.post-pht img {
		max-height: 300px;
	}

}


/* wysiwyg */
.wysiwyg {
	word-wrap : break-word;
	overflow-wrap : break-word;
	margin-bottom:4%;
  max-width: 800px;
  margin: auto;
  font-size: 1.4em;
	text-align:left;
}

/* 段落 <p> */
.wysiwyg p {
	margin-bottom:1em;
	text-align:left;
}

/* 太字赤文字 */
.wysiwyg .em {
	font-weight: bold;
	color:#F00;
}

/* 太字 <strong> */
.wysiwyg strong {
	font-weight: bold;
}

/* 斜体 <i> */
.wysiwyg i {
	font-style:italic;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* 下線 <u> */
.wysiwyg u {
	text-decoration:underline;
}

/* 打ち消し線 <s> */
.wysiwyg s {
	text-decoration:line-through;
}

/* 下付き <sub> */
.wysiwyg sub {
	font-size:0.8rem;
	//vertical-align:bottom;
}

/* 上付き <sup> */
.wysiwyg sup {
	font-size:0.8rem;
	//vertical-align:top;
}

/* 順序のないリスト <ol> */
.wysiwyg ol {
	margin:0.5em 0 1em;
	padding:0 1.5em;
	list-style: decimal outside;
}
.wysiwyg li ol>li {
	text-indent:0;
}

/*順序のないリスト <ul> */
.wysiwyg ul {
	margin:0.5em 0 1em;
	padding:0 0.5em;
	list-style: none;
}
.wysiwyg ul>li {
	padding-left:1em;
	text-indent:-1em;
}
.wysiwyg ul>li:before {
	content: "\f0da";
	font-family: FontAwesome;
	margin-right: 0.5em;
}

/* インデント <p class="txt-indent"> */
.wysiwyg .txt-indent {
	text-indent:1em;
}

/* ブロック引用文 <blockquote> */
.wysiwyg blockquote {
	position: relative;
	padding: 1.5em 2em;
	box-sizing: border-box;
	font-style: italic;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	background: #FBFBFB;
	margin:0.5em 1em;
  p{
    margin: 0;
  }
}

/* 中央揃え <p class="txt-center"> */
.wysiwyg .txt-center {
	text-align:center;
}

/* 右揃え <p class="txt-right"> */
.wysiwyg .txt-right {
	text-align:right;
}

/* 両端揃え <p class="txt-justify"> */
.wysiwyg .txt-justify {
	text-align:justify;
}

/* ハイパーリンク <a href=""> */
.wysiwyg a[href] {
	text-decoration:underline;
	color:#03F;
}

/* アンカー挿入 <a id="" name=""> */
.wysiwyg a {
	text-decoration:none;
	color: inherit;
}

/* テーブル <table> */
.wysiwyg table {
	width: auto;
	margin:1em 0 2em;
	border-collapse:collapse;
	border: 1px solid #DDD;
	max-width:100%;
	border-spacing: 0;
}
.wysiwyg table caption {
	text-align:center;
	margin-bottom:0.5em;
}
.wysiwyg table tr th {
	background: #eff7fc;
	padding: 1em;
	border: 1px solid #dfe7ec;
}
.wysiwyg table tr td {
	background: #FFFFFF;
	padding: 1em;
	border: 1px solid #dfe7ec;
	word-break: break-all;
	word-wrap: break-word;
}

.wysiwyg table .txt-justify {
	-moz-text-align-last: justify;
	text-align-last: justify;
}

/* フォントサイズ小 <span class="font-size-small"> */
.wysiwyg .font-size-small {
	font-size:0.6em;
}

/* フォントサイズ大 <span class="font-size-large"> */
.wysiwyg .font-size-large {
	font-size:1.75em;
}


/* 文字の間隔0.5em <span class="font-space-small"> */
.wysiwyg .font-space-small {
	letter-spacing:0.5em;
	margin-right:-0.5em;
}

/* 文字の間隔1.0em <span class="font-space-medium"> */
.wysiwyg .font-space-medium {
	letter-spacing:1.0em;
	margin-right:-1.0em;
}

/* 文字の間隔1.5em <span class="font-space-large"> */
.wysiwyg .font-space-large {
	letter-spacing:1.5em;
	margin-right:-1.5em;
}

/* 文字の間隔2.0em <span class="font-space-xlarge"> */
.wysiwyg .font-space-xlarge {
	letter-spacing:2.0em;
	margin-right:-2.0em;
}






.btn-postback{
  display: block;
  font-size: 2rem;
  text-align: center;
  margin: 80px auto 80px;
  a{
    padding: 20px 10px;
    width: 50rem;
    display: inline-block;
    text-align: center;
    color: #1b87d8;
    border: 2px solid  #1b87d8;
    &:hover{
      background: #1b87d8;
      color: #fff;
    }
  }
}
.btn-postback{
  a{

  }
}


@media screen and (max-width: 767px){
  .newsDetail{
    padding: 40px 0 0;
    .newsDetailBlock{
      &__sttlbox{
        margin: 0 0 50px;
      }
      &__catebox{
        line-height: 3rem;
        font-size: 1.3rem;
        width:16rem;
        height: 16rem;
        .post-date{
          font-size: 2rem;
        }
      }
      .post-ttl{
        font-size: 2.5rem;
        padding: 0 0 0 30px;
      }
      &__txt{
        padding: 0 10px;
        margin: 0 0 30px;
        font-size: 1.8rem;
      }
    }
    .related-link,.related-file{
      display: block;
      font-size: 1.8rem;
      margin: 0 auto 20px;
      a{
        padding: 20px 10px;
        width: auto;
        display: block;
      }
    }

  }





  /* --------------------------------------------------
  post-content
  -------------------------------------------------- */

  /* post-sttl-large */

  // .post-sttl-large {
  //   margin: 0 auto 1.5em;
  // 	font-size:1.8rem;
  // 	padding:10px 0;
  //   &:after{
  //     width: 100px;
  //   }
  // }


  // /* post-sttl-small */

  // .post-sttl-small {
  //   margin: 0 auto 1em;
  // 	font-size:1.5rem;
  //   font-weight: normal;
  // 	background: #eff7fc url(/assets/images/common/icon_smallttl.png) 0.8em center no-repeat;
  //   background-size: 1em;
  // 	padding:0.6em 0.8em 0.6em 2.6em;
  //   line-height: 1.2;
  // }



  /* two-post-pht */


  .two-post-pht .post-pht {
  	font-size:1.5rem;
  }

  /* wysiwyg */
  .wysiwyg {
    font-size: 1.2em;
  }

  /* インデント <p class="txt-indent"> */
  .wysiwyg .txt-indent {
  	text-indent:1em;
  }

  /* ブロック引用文 <blockquote> */
  .wysiwyg blockquote {
  	padding:  1em;
  	margin:0.5em;
  }

  .wysiwyg table caption {
  	text-align:center;
  	margin-bottom:0.5em;
  }
  .wysiwyg table tr th {
  	padding: 0.8em;
  }
  .wysiwyg table tr td {
  	padding: 0.8em;
  }

  /* フォントサイズ小 <span class="font-size-small"> */
  .wysiwyg .font-size-small {
  	font-size:0.8em;
  }

  /* フォントサイズ大 <span class="font-size-large"> */
  .wysiwyg .font-size-large {
  	font-size:1.6em;
  }

  .btn-postback{
    display: block;
    font-size: 1.8rem;
    margin: 40px 20px 40px;
    a{
      padding: 15px 0;
      width: auto;
      display: block;
    }
  }



}

@media screen and (max-width: 375px){
  .newsDetail{
    padding: 20px 0 0;
    .newsDetailBlock{
      &__sttlbox{
        margin: 0 auto 40px;
      }
      &__catebox{
        line-height: 2.2rem;
        font-size: 1.2rem;
        width: 11rem;
        height: 11rem;
        .post-date{
          font-size: 1.5rem;
        }
      }
      .post-ttl{
        display: table-cell;
        font-size: 1.8rem;
        vertical-align: middle;
        padding: 0 0 0 15px;
        font-weight: normal;
      }
      &__txt{
        padding: 0 0px;
        margin: 0 0 60px;
        font-size: 1.4rem;
        line-height: 1.8;
      }
    }
    .related-link,.related-file{
      display: block;
      font-size: 1.6rem;
      margin: 0 20px 20px;
      a{
        width: auto;
        display: block;
      }
    }
  }

}
