.sttlBlock{
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}

.menupageNavi{
  display: flex;
  //flex-wrap: wrap;
  justify-content:space-between;
  margin: 0 auto 50px;
  &__item{
    width: 11%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
  }
  &__linkicon{
    position: relative;
    display: block;
    background: #467da6;
    border-radius: 10px;
    margin: 0 auto 5px;
    img{
      background: none;
      opacity: 0.6;
      border-radius: 10px;
    }
  }
  &__link:hover{
    .menupageNavi__linkicon{
      border-radius: 50%;
      img{
        opacity: 1;
        border-radius: 50%;
      }
    }
  }
}



// pagemenuBlock
.pagemenuBlock__out{
  background: #fff;
  width: 100%;
  max-width: 110rem;
  margin: -60px auto 0;
  padding: 60px 0 0;
}

.pagemenuBlock{
  &__leadbox{
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  &__leadbox01{
    background: url(/assets/images/menu/menulead_bg01.jpg) center -50px no-repeat;
  }
  &__leadbox02{
    background: url(/assets/images/menu/menulead_bg02.jpg) center -50px no-repeat;
  }
  &__leadbox03{
    background: url(/assets/images/menu/menulead_bg03.jpg) center -50px no-repeat;
  }
  &__leadbox04{
    background: url(/assets/images/menu/menulead_bg04.jpg) center -50px no-repeat;
  }
  &__leadbox05{
    background: url(/assets/images/menu/menulead_bg05.jpg) center -50px no-repeat;
  }
  &__leadbox06{
    background: url(/assets/images/menu/menulead_bg06.jpg) center -50px no-repeat;
  }
  &__leadbox07{
    background: url(/assets/images/menu/menulead_bg07.jpg) center -50px no-repeat;
  }
  &__leadbox08{
    background: url(/assets/images/menu/menulead_bg08.jpg) center -50px no-repeat;
  }
  &__lead{
    display: table;
    width: 100%;
    max-width: 800px;
    padding: 6rem 2rem 10rem;
    margin: 0 auto;
    line-height: 1.8;
    .leadttl{
      font-size: 3.4rem;
    }
    .leadtxt{
      font-size: 1.8rem;
      font-weight: normal;
    }
  }

  .txt_r{
    font-size: 0.7em;
    position: relative;
    top: -3px;
  }

  .linkbtn{
    //padding: 10px 0;


     &:hover{
       opacity: 0.7;
     }
  }
}

.pagemenuBlock{
  font-size: 1.8rem;
  //line-height: 2;
  max-width: 800px;
  margin: 0 auto 5em;
  padding: 0 10px;
  .pagemenuBlock{
    &__list{
      display: table;
      margin: 1em auto 1em;
      max-width: 800px;
      p{
        margin: 0 auto 1em;
      }
    }
  }

  .sttl-small{
    margin-top: 1em;
  }

}




 @media screen and (max-width: 767px){

  .menupageNavi{
    flex-wrap: wrap;
    margin: 0 auto 20px;
    &__item{
      width: 22%;
      height: 100%;
      font-size: 1.1em;
      margin: 0 auto 20px;
    }
  }



  // pagemenuBlock
  .pagemenuBlock__out{
    width: 96%;
    margin: -60px auto 0;
    padding: 20px 15px 0;
  }

  .pagemenuBlock{
    &__leadbox01{
      background: url(/assets/images/menu/menulead_bg01.jpg) center 0px no-repeat;
      background-size: 100% auto;
    }
    &__leadbox02{
      background: url(/assets/images/menu/menulead_bg02.jpg) center 0px no-repeat;
      background-size: 100% auto;
    }
    &__leadbox03{
      background: url(/assets/images/menu/menulead_bg03.jpg) center 0px no-repeat;
      background-size: 100% auto;
    }
    &__leadbox04{
      background: url(/assets/images/menu/menulead_bg04.jpg) center 0px no-repeat;
      background-size: 100% auto;
    }
    &__leadbox05{
      background: url(/assets/images/menu/menulead_bg05.jpg) center 0px no-repeat;
      background-size: 100% auto;
    }
    &__leadbox06{
      background: url(/assets/images/menu/menulead_bg06.jpg) center 0px no-repeat;
      background-size: 100% auto;
    }
    &__leadbox07{
      background: url(/assets/images/menu/menulead_bg07.jpg) center 0px no-repeat;
      background-size: 100% auto;
    }
    &__leadbox08{
      background: url(/assets/images/menu/menulead_bg08.jpg) center 0px no-repeat;
      background-size: 100% auto;
    }
    &__lead{
      display: table;
      width: 100%;
      max-width: 800px;
      padding: 4rem 2rem 8rem;
      margin: 0 auto;
      line-height: 1.8;
      .leadttl{
        font-size: 2.8rem;
      }
      .leadtxt{
        font-size: 1.6rem;
        font-weight: normal;
      }
    }
  }

  .pagemenuBlock{
    font-size: 1.6rem;
    margin: 0 auto 2em;
    padding: 0 10px;
    .pagemenuBlock{
      &__list{
        display: table;
        margin: 1em auto 1em;
        max-width: 800px;
        p{
          margin: 0 auto 1em;
        }
      }
    }
  }

}



@media screen and (max-width: 568px){


  .menupageNavi{
    &__item{
      font-size: 1em;
      margin: 0 auto 10px;
    }
  }



  // pagemenuBlock
  .pagemenuBlock__out{
    width: 96%;
    margin: -40px auto 0;
    padding: 15px 15px 0;
  }

  .pagemenuBlock{
    &__leadbox01{
      background: url(/assets/images/menu/menulead_bg01.jpg) center 0px no-repeat;
      background-size: 120% auto;
    }
    &__leadbox02{
      background: url(/assets/images/menu/menulead_bg02.jpg) center 0px no-repeat;
      background-size: 120% auto;
    }
    &__leadbox03{
      background: url(/assets/images/menu/menulead_bg03.jpg) center 0px no-repeat;
      background-size: 120% auto;
    }
    &__leadbox04{
      background: url(/assets/images/menu/menulead_bg04.jpg) center 0px no-repeat;
      background-size: 120% auto;
    }
    &__leadbox05{
      background: url(/assets/images/menu/menulead_bg05.jpg) center 0px no-repeat;
      background-size: 120% auto;
    }
    &__leadbox06{
      background: url(/assets/images/menu/menulead_bg06.jpg) center 0px no-repeat;
      background-size: 120% auto;
    }
    &__leadbox07{
      background: url(/assets/images/menu/menulead_bg07.jpg) center 0px no-repeat;
      background-size: 120% auto;
    }
    &__leadbox08{
      background: url(/assets/images/menu/menulead_bg08.jpg) center 0px no-repeat;
      background-size: 120% auto;
    }
    &__lead{
      padding: 4rem 2rem 7rem;
      margin: 0 auto;
      .leadttl{
        font-size: 2.2rem;
      }
      .leadtxt{
        font-size: 1.5rem;
        font-weight: normal;
      }
    }
  }

  .pagemenuBlock{
    font-size: 1.5rem;
    padding: 0 10px;
  }


}




@media screen and (max-width: 375px){
  .menupageNavi{
    &__item{
      font-size: 0.9em;
      margin: 0 auto 10px;
    }
  }

  // pagemenuBlock
  .pagemenuBlock__out{
    width: 96%;
    margin: -40px auto 0;
    padding: 10px 10px 0;
  }

  .pagemenuBlock{
    &__leadbox01{
      background: url(/assets/images/menu/menulead_bg01.jpg) center 0px no-repeat;
      background-size: 160% auto;
    }
    &__leadbox02{
      background: url(/assets/images/menu/menulead_bg02.jpg) center 0px no-repeat;
      background-size: 160% auto;
    }
    &__leadbox03{
      background: url(/assets/images/menu/menulead_bg03.jpg) center 0px no-repeat;
      background-size: 160% auto;
    }
    &__leadbox04{
      background: url(/assets/images/menu/menulead_bg04.jpg) center 0px no-repeat;
      background-size: 160% auto;
    }
    &__leadbox05{
      background: url(/assets/images/menu/menulead_bg05.jpg) center 0px no-repeat;
      background-size: 160% auto;
    }
    &__leadbox06{
      background: url(/assets/images/menu/menulead_bg06.jpg) center 0px no-repeat;
      background-size: 160% auto;
    }
    &__leadbox07{
      background: url(/assets/images/menu/menulead_bg07.jpg) center 0px no-repeat;
      background-size: 160% auto;
    }
    &__leadbox08{
      background: url(/assets/images/menu/menulead_bg08.jpg) center 0px no-repeat;
      background-size: 160% auto;
    }
    &__lead{
      padding: 3rem 2rem 6rem;
      margin: 0 auto;
      .leadttl{
        font-size: 2rem;
      }
      .leadtxt{
        font-size: 1.2rem;
      }
    }
  }

  .pagemenuBlock{
    font-size: 1.4rem;
    padding: 0 10px;
  }


 }



