.sttlBlock{
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}


// aboutBlock
.aboutBlock__out{
  background: #fff;
  width: 100%;
  max-width: 110rem;
  margin: -80px auto 0;
  padding: 60px 0;
}

.aboutBlock{
  &__leadbox{
    background: url(/assets/images/about/aboutlead_bg.jpg) center 0 no-repeat;
    color: #fff;
    font-weight: bold;
  }
  &__lead{
    display: table;
    width: 100%;
    max-width: 800px;
    padding: 10rem 2rem 18rem;
    margin: 0 auto;
    font-size: 1.8rem;
    line-height: 1.8;
  }
}

section.aboutBlock{
  font-size: 1.8rem;
  max-width: 800px;
  margin: 0 auto 5em;
  padding: 0 10px;
  &__ex{
    margin: 0 auto 2em;
  }
  .aboutBlock{
    &__list{
      display: table;
      margin: 2em 0 ;
    }
    &__txt{
      display: table-cell;
      width: 50%;
      padding: 0 30px 0 0;
      vertical-align: middle;
      .sttl-min{
        margin-top: 0;
      }
    }
    &__img{
      display: table-cell;
      width: 50%;
      vertical-align: middle;
      position: relative;
      right: 0px;
      img{
          width: 140%;
          max-width: 500px;
        }
    }
    &__img__left{
      direction:rtl;
      .aboutBlock__txt{
        padding: 0 0 0 30px;
        direction:initial;
      }
      .aboutBlock__img{
        left: -150px;
      }
    }
  }
  .linkbtn{
    margin: 20px auto;
  }

  .sttl-small{
    margin-top: 3em;
  }
  .sttl-about {
    margin: 0 auto 0;
    font-size:2.2rem;
    font-weight: bold;
    background: url(/assets/images/common/icon_smallttl.png) 0 center no-repeat;
    padding:0.8em 1em 0.8em 1.6em;
  }

}




 @media screen and (max-width: 767px){


  // aboutBlock
  .aboutBlock__out{
    width: auto;
    max-width: 110rem;
    margin: -30px 1em 0;
    padding: 30px 1em;
  }

  .aboutBlock{
    &__lead{
      max-width: 780px;
      padding: 6rem 2rem 8rem;
      font-size: 1.6rem;
    }
  }

  section.aboutBlock{
    font-size: 1.6rem;
    margin: 0 auto 3em;
    padding: 0 10px;
    &__ex{
      margin: 0 auto 2em;
    }
    .aboutBlock{
      &__list{
        margin: 2em 0 ;
      }
      &__txt{
        width: 60%;
        padding: 0 30px 0 0;
      }
      &__img{
        width: 40%;
        img{
            width: 120%;
          }
      }
      &__img__left{
        .aboutBlock__txt{
          padding: 0 0 0 30px;
        }
        .aboutBlock__img{
          left: -50px;
        }
      }
    }

    .sttl-small{
      margin-top: 3em;
    }

    .sttl-min {
      font-size:1.7rem;
    }

    .sttl-about {
      margin: 0 auto 1em;
      font-size:1.8rem;
      font-weight: normal;
      line-height: 1.2;
      br{
        display: none;
      }
    }

  }



}



@media screen and (max-width: 568px){
  section.aboutBlock{
    font-size: 1.6rem;
    margin: 0 auto 3em;
    padding: 0 10px;
    &__ex{
      margin: 0 auto 2em;
    }
    .aboutBlock{
      &__list{
        margin: 2em 0 ;
      }
      &__txt{
        display: block;
        width: auto;
        padding: 0 0 2rem;
      }
      &__img{
        display: block;
        width: auto;
        img{
            width: 100%;
          }
      }
      &__img__left{
        .aboutBlock__txt{
          padding: 0 0 2em;
        }
        .aboutBlock__img{
          position: static;
          left: 0;
        }
      }
    }
    .sttl-small{
      margin-top: 3em;
    }
    .sttl-min {
      font-size:1.7rem;
    }
  }


}




@media screen and (max-width: 375px){
  .aboutBlock__out{
    margin: -30px 10px 0;
    padding: 20px 5px;
  }
  section.aboutBlock{
    font-size: 1.4rem;
    margin: 0 auto 2em;

    .sttl-about {
      margin: 0 auto 0.5em;
      font-size: 1.6rem;
      font-weight: normal;
      line-height: 1.2;
    }
    .sttl-min {
      font-size:1.6rem;
    }
  }

 }



