.toppage{
  .headerBox{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    z-index: 9999;
  }


  .indexMv{
    position: relative;
    text-align: center;
    overflow: hidden;
    &__list{
    }
    &__item{
      background: #DEEBF4;
      text-align: center;
      img{
        display: inline-block;
        width: 100%;
        max-width: 1400px;
      }
    }
    &__txt{
      vertical-align: middle;
      position: absolute;
      bottom: 140px;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 4rem;
      text-shadow: 0 0 5px #fff;
      &:after{
        content: "";
        display: block;
        height: 80px;
        margin: 40px auto 0;
        background: url(/assets/images/index/icon_mv.png) center center no-repeat;
      }
    }
  }
}
@media screen and (max-width: 1400px){
  .toppage{
    .indexMv{
      &__txt{
        bottom: 6vw;
        font-size: 3.6rem;
        &:after{
          content: "";
          display: block;
          height: 60px;
          margin: 30px auto 0;
          background: url(/assets/images/index/icon_mv.png) center center no-repeat;
          background-size: auto 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .toppage{
    .headerBox{
      position: relative;
    }
    .indexMv{
      position: relative;
      text-align: center;
      &__txt{
        bottom: 4vw;
        font-size: 4vw;
        &:after{
          content: "";
          display: block;
          height: 40px;
          margin: 10px auto 0;
          background: url(/assets/images/index/icon_mv.png) center center no-repeat;
          background-size: auto 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 375px){
  .toppage{
    .indexMv{
      position: relative;
      text-align: center;
      &__txt{
        z-index: 9999;
        bottom: 2.5vw;
        font-size: 1.2rem;
        &:after{
          height: 40px;
          background: url(/assets/images/index/icon_mv.png) center center no-repeat;
          background-size: auto 25px;
        }
      }
    }
  }
}

.conceptBlock{
  background: url(/assets/images/index/bg_01.jpg) center center no-repeat;
  padding: 80px 0 80px;
  &__In{
    padding: 50px 0 0;
  }
  &__Inbox{
    font-size: 2.1rem;
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    line-height: 1.8;
  }
  &__txt{
    padding: 0 10% 0 0;
  }
  &__linkbtn{
    padding: 0 0 0 10%;
  }
  &__link{
    display: inline-block;
    color: #fff!important;
    font-size: 2.4rem;
    padding: 25px 80px;
    text-align: center;
    background: #1b87d8;
    &:hover{
      opacity: 0.7;
    }
    &:after{
      content: "";
      display: inline-block;
      width: 20px;
      height: 1em;
      background: url(/assets/images/common/icon_arrow_white.png) center center no-repeat;
      background-size: auto 0.6em;
      vertical-align: middle;
      margin: 0 0 0 10px;
    }
  }
}

.workshopBlock{
  background: url(/assets/images/index/bg_02.jpg) center center no-repeat;
  padding: 80px 0 80px;
  &__In{
    padding: 50px 0 0;
  }
  &__Inbox{
    font-size: 2.1rem;
    display: table-cell;
    vertical-align: top;
    width: 50%;
    line-height: 1.8;
  }
  &__img{

  }
  &__txt{
    padding: 0 0 0 10%;
    margin: 0 0 40px;
  }
  &__linkbtn{
    padding: 0 0 0 10%;
  }
  &__link{
    display: block;
    color: #fff!important;
    font-size: 2.4rem;
    padding: 25px 0;
    text-align: center;
    background:#1b87d8;
    &:hover{
      opacity: 0.7;
    }
    &:after{
      content: "";
      display: inline-block;
      width: 20px;
      height: 1em;
      background: url(/assets/images/common/icon_arrow_white.png) center center no-repeat;
      background-size: auto 0.6em;
      vertical-align: middle;
      margin: 0 0 0 10px;
    }
  }
}



.menuBlock{
  background: #447eae;
  padding: 80px 0 80px;
  &__In{
    padding: 50px 0 0;
  }
  &__list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__item{
    border-radius: 5px;
    width: 23%;
    width: calc(25% - 20px);
    text-align: center;
    margin: 0 0 3%;
  }
  &__img{
    margin: 0 auto 8px;
    img{
      border-radius: 10px;
    }
  }
  &__link{
    display: block;
    padding: 5px 0px 15px;
    color: #fff!important;
    font-size: 2rem;
    &:hover{
      opacity: 0.7;
    }
    .txt{
      &:before{
        content: "";
        display: inline-block;
        width: 5px;
        height: 1em;
        background: url(/assets/images/common/icon_arrow_white.png) center center no-repeat;
        background-size: auto 0.6em;
        vertical-align: middle;
        margin: 0 5px 0 0;
      }
    }
  }
  .blockSttl{
    color: #fff;
    &__sub{
      color: #fff;
    }
  }
}


@media screen and (max-width: 1080px){
  .conceptBlock{
    padding: 60px 0 60px;
    &__In{
      padding: 40px 0 0;
    }
    &__Inbox{
      font-size: 1.8rem;
    }
    &__txt{
      padding: 0 0 0 0;
    }
    &__linkbtn{
      padding: 0 0 0 10%;
    }
    &__link{
      display: block;
      font-size: 2.2rem;
      padding: 25px 0;
    }
  }

  .menuBlock{
    padding: 60px 0 60px;
    &__In{
      padding: 40px 0 0;
    }
    &__list{
    }
    &__item{
      //background: #b0cbde;
      border-radius: 5px;
      width: 23%;
      width: calc(25% - 20px);
      text-align: center;
      margin: 0 0 3%;
    }
    &__img{
      margin: 0 auto 5px;
      //width: 80%;
      //max-width: 170px;
    }
    &__link{
      padding: 5px 0px 15px;
      font-size: 1.8rem;
    }
  }


  .workshopBlock{
    padding: 60px 0 60px;
    &__In{
      padding: 40px 0 0;
    }
    &__Inbox{
      font-size: 1.8rem;
    }
    &__img{
      padding: 0 10% 0 0;
    }
    &__txt{
      padding: 0;
      margin: 0 0 40px;
    }
    &__linkbtn{
      padding: 0;
    }
    &__link{
      font-size: 2.2rem;
    }
  }

}
@media screen and (max-width: 767px){
  .conceptBlock{
    padding: 60px 0 60px;
    &__In{
      padding: 40px 0 0;
    }
    &__Inbox{
      font-size: 1.8rem;
      display: block;
      width: auto;
    }
    &__txt{
      padding: 0;
      margin: 0 0 20px;
    }
    &__linkbtn{
      padding: 0;
    }
    &__link{
      font-size: 2rem;
      padding: 20px 0;
    }

  }


  .workshopBlock{
    padding: 60px 0 60px;
    &__In{
      padding: 40px 0 0;
    }
    &__Inbox{
      font-size: 1.8rem;
      display: block;
      width: auto;
    }
    &__img{
      padding: 0;
      margin: 0 0 20px;
    }
    &__txt{
      padding: 0;
      margin: 0 0 20px;
    }
    &__linkbtn{
      padding: 0;
    }
    &__link{
      font-size: 2rem;
      padding: 20px 0;
    }
  }

  .menuBlock{
    padding: 30px 0 60px;
    &__In{
      padding: 0 20px 0;
    }
    &__item{
      border-radius: 5px;
      width: 48%;
      width: calc(50% - 10px);
      text-align: center;
      margin: 0 0 10px;
    }
    &__img{
     // width: 60%;
      margin: 0 auto 8px;
    }
    &__link{
      display: block;
      padding: 10px 0 10px;
      color: #296596!important;
      font-size: 1.4rem;
    }

    &__item{
      .menuBlock__link{
        color: #fff!important;
        .txt{
          &:before{
            background: url(/assets/images/common/icon_arrow_white.png) center center no-repeat!important;
            background-size: auto 0.6em!important;
          }
        }
      }
    }

  }
}

@media screen and (max-width: 375px){
  .conceptBlock{
    padding: 20px 0 40px;
    &__In{
      padding: 0 0 0;
    }
    &__Inbox{
      font-size: 1.5rem;
    }
    &__link{
      font-size: 1.8rem;
      padding: 20px 0;
    }
  }

  .workshopBlock{
    padding: 20px 0 40px;
    &__In{
      padding: 0 0 0;
    }
    &__Inbox{
      font-size: 1.5rem;
    }
    &__img{
      padding: 0;
    }
    &__txt{
      padding: 0;
      margin: 0 0 40px;
    }
    &__linkbtn{
      padding: 0;
    }
    &__link{
      font-size: 1.8rem;
      padding: 20px 0;
    }
  }
  .menuBlock{
    padding: 20px 0 60px;
    &__In{
      padding: 0 20px 0;
    }
  }

}

// indexnewsBlock
.indexnewsBlock{
   background: #e3e8ec;
   padding: 80px 0 80px;
   &__list{
     font-size: 1.8rem;
   }
   &__item{
   }
   &__link{
     display: block;
     color: #333!important;
     padding: 15px;
     letter-spacing: 1px;
     &:hover{
       background: rgba(255,255,255,0.4);
     }
     .date{
       display: table-cell;
       width: 8.8em;
       color: #467da6;
     }
     .txt{
       display: table-cell;
     }
     .icon-new{
       display: inline-block;
       margin: 0 0 5px 10px;
       background: #ef0557;
       color: #fff;
       padding: 4px 8px 2px;
       font-size: 10px;
     }
   }
   &__linkbtn{
     padding: 30px 0 0 20px;
     text-align: center;
     a{
      display:inline-block;
      color: #fff!important;
      font-size: 2.4rem;
      width: 32%;
      padding: 15px 0;
      margin: 0 10px;
      text-align: center;
      background:#1b87d8;
      &:hover{
        opacity: 0.7;
      }
      }
   }
 }

 @media screen and (max-width: 767px){
   .indexnewsBlock{
     padding: 60px 0 40px;
     &__list{
       font-size: 1.5rem;
     }
     &__item{
     }
     &__link{
       display: block;
       color: #333!important;
       padding: 12px 10px;
       letter-spacing: 1px;
       .date{
         display: table-cell;
       }
       .txt{
         display: table-cell;
       }
     }

     &__linkbtn{
       padding: 20px 0 0 20px;
       text-align: center;
       a{
        font-size: 1.8rem;
        width: 40%;
        padding: 15px 10px;
        margin: 0 5px;
        }
     }

   }
 }



 @media screen and (max-width: 375px){
   .indexnewsBlock{
     padding: 20px 0 30px;
     &__list{
       font-size: 1.5rem;
     }
     &__item{
     }
     &__link{
       display: block;
       color: #333!important;
       padding: 12px 10px;
       letter-spacing: 1px;
       .date{
         display: block;
         margin: 0 0 5px;
       }
       .txt{
         display: block;
       }
     }
     &__linkbtn{
       padding: 20px 0 0;
       text-align: center;
       a{
        font-size: 1.5rem;
        width: 47%;
        padding: 15px 10px;
        margin: 0 2px;
        }
     }

   }
 }
