.sttlBlock{
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px){
  .sttlBlock{
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}


.directorBlock{
  position: relative;
  background: #f4f9fb;
  text-align: center;
  padding: 0 0 30px;
  &__img{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background:#d8d8d8;
    img{
      display: inline-block;
      margin: 0 auto;
    }
  }
  &__lead{
    position: absolute;
    top: 0;
    right: 30px;
    left: 0;
    z-index: 999;
    max-width: 1080px;
    margin: auto;
    text-align: right;

  }
  &__leadIn{
    margin: 140px 0 0;
    display: inline-block;
    width: 50vw;
    max-width: 600px;
    text-align: left;
    font-size: 1.6em;
  }
  .name{
    text-align: center;
    font-size: 1.4em;
    margin: 10px auto 0;
    span{
      font-size: 1.2em;
      display: inline-block;
      margin: 0 0 0 10px;
    }
  }
  &__txtIn{
    width: 47%;
  }
  &__txt{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -70px;
    background: #fff;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 40px 10px;
    text-align: left;
    letter-spacing: 0px;
    .biography{
      margin: 0 auto 30px;
      &__list{
        font-size:  1.3em;
        margin: 0 auto 5px;
      }
    }
  }
  .sttl_sub{
    margin : 0 0 10px;
    font-size: 1.6em;
    color: #42b9d0;
  }
}

.staffBlock__out{
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
}

.staffBlock{
  background: #fff;
  margin: 0 auto 30px;
  //max-width: 1080px;
  padding: 30px;
  width: 48%;

  // &:nth-child(2n){
  //   direction:rtl;
  // }
  &__sttl{
    font-weight: bold;
    margin: 0 auto 30px;
    color: #42b9d0;
    font-size: 2.2em;
    width: 100%;
  }
  &__img{
    //display: table-cell;
    width: 50%;
    vertical-align: middle;
    background: #fff;
    margin: 0 auto;
    img{
      //width: 80%;
      border-radius: 50%;
    }
  }
  &__txtIn{
    display: table-cell;
    width: 50%;
    text-align: left;
    vertical-align: middle;
    padding: 30px 0;
  }
  .biography{
    margin: 0 auto;
    &__list{
      font-size:  1.3em;
      margin: 0 auto 2px;
    }
  }
  &__name{
    text-align: center;
    font-size: 2.4em;
    margin: 10px 0 15px;
  }
  .sttl_sub{
    margin : 0 0 5px;
    font-size: 1.4em;
    color: #42b9d0;
  }
}

@media screen and (max-width: 1180px){
  .directorBlock{
    &__txt{
      margin: 0 30px;
      top: -20px;
    }
    &__leadIn{
      margin: 7vw 40px 0 0;
    }
    &__img{
      img{
        position: relative;
        left: -8vw;
      }
    }
  }
  // .staffBlock{
  //   margin: 0 30px 60px;
  //   max-width: 1080px;
  // }
}

@media screen and (max-width: 767px){

  .directorBlock{
    padding: 0 0 30px;
    &__img{
      margin: auto;
      background:#d8d8d8;
      overflow: hidden;
      img{
        display: inline-block;
        margin: 0 auto;
        position: relative;
        left: -25vw;
        width: 150vw;
        max-width: 150vw;
      }
    }
    &__lead{
      position: absolute;
      top: 0;
      right: 30px;
      left: 0;
      z-index: 999;
      max-width: 1080px;
      margin: auto;
      text-align: right;

    }
    &__leadIn{
      margin: 10vw 0 0;
      width: 52vw;
      max-width: 52vw;
      font-size: 1.4em;
    }
    .name{
      font-size: 1.2em;
      margin: 10px auto 0;
      span{
        font-size: 1.2em;
      }
    }
    &__txtIn{
      width: auto;
      margin: 0 10px;
    }
    &__txt{
      background: #fff;
      margin: 0 30px;
      text-align: left;
      letter-spacing: 1px;
      .biography{
        margin: 0 auto 20px;
        &__list{
          font-size:  1.2em;
          margin: 0 auto 2px;
        }
      }
    }
    .sttl_sub{
      margin : 0 0 10px;
      font-size: 1.4em;
    }
  }



  .staffBlock{
    .biography{
      margin: 0 auto;
      &__list{
        font-size:  1.2em;
        margin: 0 auto 2px;
      }
    }
    &__name{
      font-size: 1.8em;
      margin: 0 0 10px;
    }
    .sttl_sub{
      margin : 0 0 5px;
      font-size: 1.4em;
    }
  }


}

@media screen and (max-width: 568px){

  .directorBlock{
    padding: 0 0 30px;
    &__img{
      img{
        left: 0;
      }
    }
    &__lead{
      position: static;
      background: #f4f9fb;
      margin: -12vw 30px 30px;
      padding: 30px;
    }
    &__leadIn{
      margin: 0 0;
      width: 100%;
      max-width: 100%;
      font-size: 1.3em;
    }
    .name{
      font-size: 1.1em;
      margin: 10px auto 20px;
      span{
        font-size: 1.2em;
      }
    }
    &__txt{
      top: -30px;
      margin: 0 20px;
      padding: 20px;
      letter-spacing: 0;
      .biography{
        margin: 0 auto 15px;
        &__list{
          font-size:  1.1em;
        }
      }
    }
  }

  .staffBlock__out{
  }

  .staffBlock{
    position: relative;
    padding: 20px 5px 10px;
    width: 47%;

    &__sttl{
      font-size: 1.8em;
      margin: 0 auto 30px;
    }
    &__img{
      width: 80%;
      padding: 0;
      margin: 0 auto 10px;
      display: inline-block;
      img{
        width: 80%;
        border-radius: 50%;
      }
    }

    &__txtIn{
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      padding: 0;
      width: auto;
      text-align: center
    }

    .biography{
      margin: 0 auto;
      &__list{
        font-size:  1em;
        margin: 0 auto 4px;
        letter-spacing: 0;
        text-align: left;
        line-height: 1.4;
      }
    }
    &__name{
      margin: 0 0 10px;
    }
    .sttl_sub{
      margin : 0 0 5px;
      font-size: 1.1em;
      text-align: left;
    }
  }

}






@media screen and (max-width: 375px){

  .directorBlock{
    padding: 0 0 30px;
    &__lead{
      margin: -12vw 20px 20px;
      padding: 20px;
    }
    &__leadIn{
      font-size: 1.2em;
    }
    .name{
      font-size: 1em;
      span{
        font-size: 1.2em;
      }
    }
  }

  .staffBlock{
    padding: 20px 10px 10px;
    &__sttl{
      font-size: 1.1em;
      margin: 0 auto 20px;
    }
    &__img{
      margin: 0 auto 20px;
      img{
        width: 80%;
      }
    }
    .biography{
      &__list{
        font-size:  1em;
      }
    }
    &__name{
      font-size: 1.4em;
    }
    .sttl_sub{
      font-size: 1.1em;
    }
  }

}
