@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* CSS Document */
* {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
  list-style: none;
  box-sizing: border-box;
  transition: all 0.3s;
}

html {
  font-size: 62.5%;
}

article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, figure, figcaption {
  display: block;
}

body {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: center;
  color: #1a171b;
  background: #ffffff;
  font-family: Lora,'Noto Sans Japanese',游ゴシック体,'Yu Gothic',YuGothic,'ヒラギノ角ゴシック Pro','Hiragino Kaku Gothic Pro',メイリオ,Meiryo,Osaka,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

#wrapper {
  width: 100%;
  background: #ffffff;
  -webkit-filter: brightness(1) blur(0px);
  filter: brightness(1) blur(0px);
  transition: all 0.4s;
  overflow: hidden;
  letter-spacing: 1px;
}

::-moz-selection {
  background: #536782;
  color: #ffffff;
}

::selection {
  background: #536782;
  color: #ffffff;
}

::-moz-selection {
  background: #536782;
  color: #ffffff;
}

html.open {
  overflow: hidden;
}

body.open {
  overflow: hidden;
}

body.open #wrapper {
  -webkit-filter: brightness(1.2) blur(5px);
  filter: brightness(1.2) blur(5px);
  overflow: hidden;
}

img, a img {
  border: none;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

a:link {
  color: #536782;
  text-decoration: none;
}

a:visited {
  color: #536782;
  text-decoration: none;
}

a:hover img {
  opacity: 0.7;
}

article, section {
  text-align: left;
}

.pc_visible {
  display: inline-block;
}

.sp_visible {
  display: none;
}

img {
  max-width: 100%;
}

article {
  clear: both;
  position: relative;
  width: 100%;
  z-index: 200;
}

.wrap {
  position: relative;
  width: 100%;
  max-width: 110rem;
  margin: 0 auto;
  padding: 0 2rem;
}

#loading {
  position: absolute;
  left: 0;
  top: 48%;
  right: 0;
  margin: auto;
}

#loading img {
  width: 300px;
}

#loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #175a91;
  z-index: 1;
}

.blockSttl {
  font-size: 4rem;
  margin: 0 auto 50px;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  line-height: 140px;
  padding: 0 0;
}

@media screen and (max-width: 1080px) {
  .blockSttl {
    font-size: 3.5rem;
    margin: 0 auto 20px;
  }
}

@media screen and (max-width: 767px) {
  img {
    -webkit-backface-visibility: hidden;
  }
  a:hover {
    text-decoration: none;
  }
  .wrap {
    padding: 0 1.5rem;
  }
  .blockSttl {
    font-size: 2.3rem;
    margin: 0 auto 30px;
    padding: 0;
    letter-spacing: 1px;
  }
  .pc_visible {
    display: none;
  }
  .sp_visible {
    display: inline-block;
  }
}

@media screen and (max-width: 375px) {
  .blockSttl {
    font-size: 1.9rem;
    margin: 0 0 10px;
    letter-spacing: 0px;
    padding: 0;
  }
}

/* HEADER */
.headerBox {
  position: relative;
  max-width: 1340px;
  padding: 0 30px;
  margin: 0 auto;
  clear: both;
  overflow: hidden;
}

.headerBox .naviBox {
  display: none;
}

.headerBox #logo {
  float: left;
  text-align: left;
  padding: 45px 0;
  vertical-align: middle;
}

.headerBox #logo a {
  display: inline-block;
}

.headerBox #logo a img {
  vertical-align: middle;
}

.headerBox__logo {
  height: auto;
  width: 50vw;
  max-width: 518px;
}

.headerBox__access {
  float: left;
  display: inline-block;
  background: #ddefef;
  color: #000;
  font-size: 1.3em;
  margin: 55px 20px 0;
  padding: 10px 15px;
}

.headerBox .telBox {
  margin: 45px 0 15px;
  float: right;
}

.telBox__tel {
  color: #175A91;
  vertical-align: bottom;
  font-size: 2rem;
}

.telBox__tel a {
  color: #175A91 !important;
}

.telBox__telnum {
  display: inline-block;
  margin: 0 0 0 3px;
  font-size: 2.8rem;
}

.telBox__teltxt {
  position: relative;
  bottom: 6px;
  display: inline-block;
  background: #175A91;
  color: #fff;
  padding: 5px 10px 4px;
  margin: 0 0 0 5px;
  font-size: 1.3rem;
}

.naviHr {
  display: block;
  position: relative;
  width: 100%;
  font-weight: bold;
  background: #1b87d8;
  z-index: 2000;
}

.naviHr__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 130rem;
  margin: 0 auto 0;
}

.naviHr__list:hover .naviHr__link:hover {
  opacity: 1;
  color: #fff;
}

.naviHr__item {
  flex-grow: 1;
}

.naviHr__link {
  display: block;
  width: 100%;
  padding: 30px 0 28px;
  color: #fff !important;
  text-decoration: none;
  font-size: 2.1rem;
  transition: all 0.3s;
}

.naviHr__link:before {
  content: "";
  display: inline-block;
  margin: 0 6px 4px 0;
  width: 30px;
  height: 30px;
  background: url(/assets/images/common/icon_nav.png) 0 center no-repeat;
  vertical-align: middle;
}

.naviHr:hover .naviHr__link {
  opacity: 0.2;
}

.naviHrSub__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  top: 3rem;
  left: 2.8rem;
  padding: 0 1rem 1rem;
  visibility: hidden;
  opacity: 0;
  background: #ffffff;
  transition: all 0.3s;
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  box-shadow: 0 0 2rem rgba(75, 83, 95, 0.1);
}

.naviHrSub__item {
  padding: 0;
  text-align: left;
}

.naviHrSub__item:not(.all) .naviHrSub__link {
  display: block;
  margin: 0;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #085990;
  font-size: 1.1rem;
}

.naviHrSub__item:not(.all) .naviHrSub__link:hover {
  background: #f3f9fc;
}

.naviHrSub__item.all .naviHrSub__link {
  padding: 0;
}

.naviHrSub__listtxt {
  display: inline-block;
  width: 49rem;
  padding: 2rem;
  border-radius: 5px;
}

.naviHrSub__listtxt .naviHrSub__item {
  display: inline-block;
  width: auto;
  width: 22rem;
}

.naviHrSub__listtxt .naviHrSub__item .naviHrSub__link {
  position: relative;
  font-size: 1.7rem;
}

.naviHrSub__listtxt .naviHrSub__item .naviHrSub__linkicon {
  display: inline-block;
  height: 4rem;
  width: auto;
  text-align: center;
  padding: 0 0;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.naviHrSub__listtxt .naviHrSub__item .naviHrSub__linkicon img {
  border-radius: 10px;
  height: 4rem;
  width: auto;
  margin: 0 0 0;
}

.naviHrSub__listtxt .naviHrSub__item .naviHrSub__linkicon:hover img {
  border-radius: 10px;
}

@media screen and (max-width: 1400px) {
  .naviHr__link {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 1268px) {
  .headerBox .telBox {
    margin: 5px 0 15px;
  }
}

@media screen and (max-width: 1000px) {
  .naviHr__link {
    padding: 25px 0 22px;
    font-size: 1.7vw;
  }
  .naviHr__link:before {
    content: "";
    display: inline-block;
    margin: 0 8px 4px 0;
    width: 16px;
    height: 16px;
    background: url(/assets/images/common/icon_nav.png) 0 center no-repeat;
    background-size: 16px auto;
    vertical-align: middle;
  }
  .naviHrSub__listtxt {
    display: inline-block;
    width: 45rem;
    padding: 1.5rem;
  }
  .naviHrSub__listtxt .naviHrSub__item {
    width: 20rem;
  }
  .naviHrSub__listtxt .naviHrSub__item .naviHrSub__link {
    font-size: 1.5rem;
  }
  .headerBox__access {
    float: right;
    display: inline-block;
    background: #ddefef;
    color: #000;
    font-size: 1.2em;
    margin: 25px 0 0 0;
    padding: 5px 10px;
  }
}

@media screen and (max-width: 767px) {
  .headerBox {
    padding: 0 30px;
  }
  .headerBox .naviBox {
    display: none;
  }
  .headerBox #logo {
    float: none;
    margin: auto;
    padding: 25px 0;
    width: 30vw;
  }
  .headerBox__logo {
    height: auto;
    width: 100%;
    max-width: 202px;
  }
  .headerBox__access {
    float: none;
    font-size: 1.1em;
    margin: 5px auto 20px;
  }
  .headerBox .telBox {
    display: none;
  }
  .headerBox .naviBox {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    z-index: 2000;
    padding: 0;
  }
  .headerBox .naviBox a {
    display: block;
    margin: 0.5rem 0;
    padding: 1rem 0.9rem;
    overflow: hidden;
    float: right;
  }
  .headerBox .naviBox .menu {
    padding: 3rem 3rem 1rem;
  }
  .headerBox .naviBox .menu img {
    height: 4.5rem;
  }
  .naviHr {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .headerBox {
    padding: 0 30px;
  }
  .headerBox #logo {
    float: none;
    margin: auto;
    padding: 25px 0;
    width: 33vw;
  }
  .headerBox__logo {
    height: auto;
    width: 100%;
    max-width: 202px;
  }
  .headerBox__access {
    font-size: 1em;
    margin: 5px auto 15px;
    padding: 5px;
  }
  .headerBox .naviBox .menu {
    padding: 2rem 2rem 1rem;
  }
  .headerBox .naviBox .menu img {
    height: 3rem;
  }
}

/* NAVI */
#navi {
  display: none;
}

@media screen and (max-width: 767px) {
  #navi {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    transition: all 0.4s;
    background: rgba(23, 90, 145, 0.9);
    z-index: 1000;
  }
  #navi .navIn {
    padding: 10px;
    overflow: hidden;
    z-index: 200;
  }
  #navi a {
    color: #fff;
  }
  #navi a#close {
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    z-index: 500;
  }
  #navi a#close::before, #navi a#close::after {
    content: '';
    display: block;
    position: absolute;
    top: 1.5rem;
    left: 0;
    width: 3rem;
    height: 0.1rem;
    background: #fff;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  #navi a#close::before {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #navi a#close::after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #navi.open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #navi .navi {
    margin: 4rem 0 0;
  }
  #navi .navi__item {
    font-size: 1.6rem;
  }
  #navi .navi__list {
    text-align: center;
  }
  #navi .navi__link {
    text-decoration: none;
    line-height: 4.6rem;
    color: #fff;
  }
  #navi .navIn__logo {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 20px 0 0;
    margin: 30px auto 0;
  }
  #navi .navIn__logo img {
    width: 220px;
  }
}

/* FOOTER */
.footerBlock {
  position: relative;
  width: 100%;
  padding: 70px 0 35px;
  background: #fff;
  overflow: hidden;
  z-index: 2000;
}

.footerBlock .infoBlock {
  width: 38%;
  float: left;
  text-align: left;
}

.footerBlock .infoBlock__logo {
  display: inline-block;
  padding: 0 0 35px;
  margin: 0 0 30px;
  border-bottom: 1px solid #e7f1f5;
}

.footerBlock .infoBlock__logo img {
  width: 100%;
  max-width: 362px;
}

.footerBlock .infoBlock .telBox__tel {
  margin: 0 0 10px;
}

.footerBlock .infoBlock__access {
  line-height: 2;
  font-size: 1.3em;
}

.footerBlock .infoBlock__access a {
  color: #3d9bdd;
}

.footerBlock .aboutBlock {
  float: right;
  width: 58%;
}

.footerBlock .aboutBlock__time {
  margin: 0 0 5px;
  width: 100%;
  border-collapse: collapse;
}

.footerBlock .aboutBlock__time thead {
  background: #3d9bdd;
  color: #fff;
  font-size: 1.3em;
}

.footerBlock .aboutBlock__time thead th {
  padding: 8px;
  font-weight: normal;
  border: 1px solid #3d9bdd;
}

.footerBlock .aboutBlock__time tbody {
  font-size: 1.4em;
}

.footerBlock .aboutBlock__time tbody th {
  padding: 10px 20px;
  text-align: left;
  font-weight: normal;
  border: 1px solid #3d9bdd;
}

.footerBlock .aboutBlock__time tbody td {
  width: 11.2%;
  font-size: 1.3em;
  border: 1px solid #3d9bdd;
}

.footerBlock .aboutBlock__time tbody td span {
  font-size: 1.1rem;
}

.footerBlock .aboutBlock__caution {
  margin: 0 0 20px;
  font-size: 1.3rem;
  text-align: right;
}

.footerBlock .aboutBlock__note {
  padding: 20px 25px 15px;
  font-size: 15px;
  background: #f4f9fb;
  text-align: left;
}

.footerBlock .aboutBlock__note__list {
  padding-left: 1em;
  text-indent: -1em;
}

.footerBlock .aboutBlock__note__list li {
  margin: 0 0 5px;
}

.footerBlock .policy {
  margin: 20px auto;
  display: inline-block;
  padding: 3px 0;
  font-size: 1.2em;
}

.footerBlock .policy a {
  color: #3d9bdd;
}

.footerBlock .policy :before {
  content: "▲";
  display: inline-block;
  width: 1em;
  margin: 0 5px 4px 0;
  font-size: 0.8em;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #ddd;
  vertical-align: middle;
}

.footerBlock .copy {
  clear: both;
  overflow: hidden;
  font-size: 1.1rem;
  padding: 50px 0 0;
  color: #666;
}

@media screen and (max-width: 1080px) {
  .footerBlock .infoBlock {
    margin: 0 0 40px;
  }
  .footerBlock .aboutBlock__time thead {
    font-size: 1.2em;
  }
  .footerBlock .aboutBlock__time thead th {
    padding: 8px;
  }
  .footerBlock .aboutBlock__time tbody {
    font-size: 1.3em;
  }
  .footerBlock .aboutBlock__time tbody th {
    padding: 10px 10px;
  }
  .footerBlock .aboutBlock__time tbody td {
    width: 10.5%;
  }
  .footerBlock .aboutBlock__caution {
    font-size: 1.2rem;
    margin: 0 0 10px;
  }
  .footerBlock .aboutBlock__note {
    padding: 20px 20px 15px;
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .footerBlock {
    padding: 70px 0 35px;
  }
  .footerBlock .infoBlock {
    float: none;
    width: auto;
    display: table;
    margin: 30px auto 30px;
    clear: both;
    overflow: hidden;
  }
  .footerBlock .infoBlock__logo {
    margin: 30px auto;
  }
  .footerBlock .infoBlock__txt {
    text-align: center;
  }
  .footerBlock .infoBlock__access {
    font-size: 1.3rem;
  }
  .footerBlock .aboutBlock {
    float: none;
    width: auto;
    display: table;
    margin: auto;
  }
  .footerBlock .aboutBlock__time thead {
    font-size: 1em;
  }
  .footerBlock .aboutBlock__time thead th {
    padding: 5px;
  }
  .footerBlock .aboutBlock__time tbody {
    font-size: 1.1em;
  }
  .footerBlock .aboutBlock__time tbody th {
    padding: 8px;
  }
  .footerBlock .aboutBlock__time tbody td {
    width: 10%;
  }
  .footerBlock .aboutBlock__caution {
    font-size: 1.1rem;
  }
  .footerBlock .aboutBlock__note {
    padding: 20px 20px 15px;
    font-size: 1.2rem;
  }
  .footerBlock .policy {
    margin: 10px auto 0;
    font-size: 1.1em;
  }
  .footerBlock .copy {
    padding: 30px 0 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .footerBlock .infoBlock__logo img {
    max-width: 260px;
  }
  .footerBlock .aboutBlock__time thead {
    font-size: 1em;
  }
  .footerBlock .aboutBlock__time thead th {
    padding: 4px;
    letter-spacing: 0;
  }
  .footerBlock .aboutBlock__time tbody {
    font-size: 1em;
  }
  .footerBlock .aboutBlock__time tbody th {
    padding: 4px;
  }
  .footerBlock .aboutBlock__time tbody td {
    font-size: 1em;
    width: 10%;
  }
  .footerBlock .aboutBlock__caution {
    font-size: 1.1rem;
  }
  .footerBlock .aboutBlock__note {
    padding: 20px 20px 15px;
    font-size: 1.1rem;
  }
}

.sttlBlock {
  padding: 0 0 0;
}

.sttlBlock .blockSttl {
  font-size: 3rem;
  margin: 0 auto 0;
  text-align: center;
  padding: 0 0 0;
}

.breadBlock {
  padding: 30px 0 30px;
  font-size: 1.5rem;
}

.breadBlock__item {
  display: inline-block;
  padding-right: 10px;
  margin: 5px 0;
  background: url(/assets/images/common/icon_breadarrow.png) right center no-repeat;
}

.breadBlock__item a {
  padding: 5px;
}

.breadBlock__item a:hover {
  opacity: 0.7;
}

.breadBlock__item:first-child a {
  padding: 5px 5px 5px 2em;
  background: url(/assets/images/common/icon_bread.png) 0 center no-repeat;
  background-size: 1.2em auto;
}

.breadBlock__item:last-child {
  background: none;
}

.tabBlock {
  margin: 0 auto 100px;
}

.tabBlock__list {
  display: flex;
}

.tabBlock__item {
  display: block;
  width: 50%;
  text-align: center;
  font-size: 2rem;
  border-right: 1px solid #fff;
}

.tabBlock__item:last-child {
  border-right: 0;
}

.tabBlock__link {
  display: block;
  padding: 20px;
  background: #ecf0f0;
}

.tabBlock__link:hover {
  opacity: 0.7;
}

.tabBlock .active .tabBlock__link {
  background: #1b87d8;
  color: #fff;
  position: relative;
}

.tabBlock .active .tabBlock__link:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin: 0 0 0 -5px;
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-top: 10px solid #1b87d8;
  border-left: 10px solid transparent;
}

.pagination {
  margin: 3rem auto;
}

.pagination__list {
  text-align: center;
}

.pagination__item {
  display: inline-block;
  font-size: 2rem;
  margin: 0 3px;
}

.pagination__item a {
  border: 1px solid #ccc;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  display: block;
}

.pagination__item a:hover {
  opacity: 0.7;
}

.pagination__item.active {
  background: #1b87d8;
}

.pagination__item.active a {
  border-color: #1b87d8;
  color: #fff;
}

/* sttl-large */
.sttl-large {
  position: relative;
  margin: 0 auto 2em;
  font-size: 2.4rem;
  padding: 10px 0;
  font-weight: bold;
  border-bottom: 5px solid #eff7fc;
  max-width: 900px;
  margin-bottom: 1em;
}

.sttl-large:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  display: inline-block;
  content: "";
  height: 5px;
  width: 180px;
  background: #42b9d0;
}

@media screen and (max-width: 767px) {
  .sttl-large {
    margin: 0 auto 1.5em;
    font-size: 1.8rem;
    padding: 10px 0;
  }
  .sttl-large:after {
    width: 100px;
  }
}

/* sttl-small */
.sttl-small {
  margin: 0 auto 1em;
  font-size: 2rem;
  font-weight: bold;
  background: #eff7fc url(/assets/images/common/icon_smallttl.png) 1em center no-repeat;
  padding: 0.8em 1em 0.8em 2.6em;
  max-width: 900px;
}

@media screen and (max-width: 767px) {
  .sttl-small {
    margin: 0 auto 1em;
    font-size: 1.5rem;
    font-weight: normal;
    background: #eff7fc url(/assets/images/common/icon_smallttl.png) 0.8em center no-repeat;
    background-size: 1em;
    padding: 0.6em 0.8em 0.6em 2.6em;
    line-height: 1.2;
  }
}

/* sttl-tooth */
.sttl-tooth {
  position: relative;
  margin: 1em auto 0.5em;
  font-size: 2.6rem;
  padding: 10px 0 10px 50px;
  font-weight: bold;
  max-width: 900px;
  background: url(/assets/images/common/icon_tooth.png) 0 center no-repeat;
}

@media screen and (max-width: 767px) {
  .sttl-tooth {
    font-size: 2.1rem;
    padding: 10px 0 10px 40px;
    background: url(/assets/images/common/icon_tooth.png) 0 center no-repeat;
    background-size: 1.2em auto;
  }
}

/* sttl-min */
.sttl-min {
  font-size: 1.3em;
  color: #42b9d0;
  margin: 2em auto 0.2em;
}

/* textlist */
.textlist {
  text-indent: -1em;
  padding-left: 1em;
}

.textlist__item {
  margin: 0 auto 0.8em;
}

.textlist__item .note {
  color: #e00;
  font-weight: bold;
}

.textlist02 {
  margin-top: 0.8em;
  text-indent: -1em;
  padding-left: 1em;
}

.textlist02__item {
  margin: 0 auto 0.2em;
}

.linkbtn__link {
  display: inline-block;
  color: #fff !important;
  font-size: 2.4rem;
  padding: 18px 40px;
  text-align: center;
  background: #1b87d8;
}

.linkbtn__link:hover {
  opacity: 0.7;
}

.linkbtn__link:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 1em;
  background: url(/assets/images/common/icon_arrow_white.png) center center no-repeat;
  background-size: auto 0.6em;
  vertical-align: middle;
  margin: 0 0 0 10px;
}

@media screen and (max-width: 767px) {
  .sttlBlock {
    padding: 0 0 0;
  }
  .sttlBlock .blockSttl {
    font-size: 2.8rem;
  }
  .breadBlock {
    padding: 30px 0 50px;
    font-size: 1.4rem;
  }
  .tabBlock {
    margin: 0 auto 30px;
  }
  .tabBlock__item {
    font-size: 1.6rem;
  }
  .tabBlock__link {
    padding: 15px;
  }
  .pagination {
    margin: 3rem auto;
  }
  .pagination__item {
    font-size: 1.6rem;
  }
  /* sttl-min */
  .sttl-min {
    font-size: 1.2em;
    margin: 1.5em auto 0em;
  }
  .linkbtn__link {
    font-size: 1.6rem;
    padding: 18px 18px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 375px) {
  .sttlBlock {
    padding: 0 0 0;
  }
  .sttlBlock .blockSttl {
    font-size: 2.3rem;
  }
  .breadBlock {
    padding: 30px 0 30px;
    font-size: 1.1rem;
  }
  .breadBlock__item {
    display: inline-block;
    padding-right: 5px;
    margin: 5px 0;
    background: url(/assets/images/common/icon_breadarrow.png) right center no-repeat;
  }
  .breadBlock__item a {
    padding: 3px;
  }
  .tabBlock__item {
    font-size: 1.4rem;
  }
  .tabBlock__link {
    padding: 15px;
  }
  .pagination {
    margin: 3rem auto 0;
  }
  .pagination__item {
    font-size: 1.4rem;
  }
  .pagination__item a {
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
  }
  /* sttl-min */
  .sttl-min {
    font-size: 1.2em;
    margin: 1em auto 0em;
  }
  .linkbtn__link {
    display: block;
    font-size: 1.5rem;
    padding: 20px 0;
  }
}

/* animation
----------------------------------------------------------------*/
/* fade in */
.fadein {
  opacity: 0;
  transition: 1s;
}

.fadein.animation {
  opacity: 1;
}

/* fade in up */
.fadeinup {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  transition: 1s;
}

.fadeinup.animation {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

/* fade in left */
.fadeinleft {
  opacity: 0;
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  transition: 1s;
}

.fadeinleft.animation {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

/* fade in right */
.fadeinright {
  opacity: 0;
  -webkit-transform: translateX(20px);
          transform: translateX(20px);
  transition: 1s;
}

.fadeinright.animation {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.sttlBlock {
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}

.aboutBlock__out {
  background: #fff;
  width: 100%;
  max-width: 110rem;
  margin: -80px auto 0;
  padding: 60px 0;
}

.aboutBlock__leadbox {
  background: url(/assets/images/about/aboutlead_bg.jpg) center 0 no-repeat;
  color: #fff;
  font-weight: bold;
}

.aboutBlock__lead {
  display: table;
  width: 100%;
  max-width: 800px;
  padding: 10rem 2rem 18rem;
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 1.8;
}

section.aboutBlock {
  font-size: 1.8rem;
  max-width: 800px;
  margin: 0 auto 5em;
  padding: 0 10px;
}

section.aboutBlock__ex {
  margin: 0 auto 2em;
}

section.aboutBlock .aboutBlock__list {
  display: table;
  margin: 2em 0;
}

section.aboutBlock .aboutBlock__txt {
  display: table-cell;
  width: 50%;
  padding: 0 30px 0 0;
  vertical-align: middle;
}

section.aboutBlock .aboutBlock__txt .sttl-min {
  margin-top: 0;
}

section.aboutBlock .aboutBlock__img {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  position: relative;
  right: 0px;
}

section.aboutBlock .aboutBlock__img img {
  width: 140%;
  max-width: 500px;
}

section.aboutBlock .aboutBlock__img__left {
  direction: rtl;
}

section.aboutBlock .aboutBlock__img__left .aboutBlock__txt {
  padding: 0 0 0 30px;
  direction: initial;
}

section.aboutBlock .aboutBlock__img__left .aboutBlock__img {
  left: -150px;
}

section.aboutBlock .linkbtn {
  margin: 20px auto;
}

section.aboutBlock .sttl-small {
  margin-top: 3em;
}

section.aboutBlock .sttl-about {
  margin: 0 auto 0;
  font-size: 2.2rem;
  font-weight: bold;
  background: url(/assets/images/common/icon_smallttl.png) 0 center no-repeat;
  padding: 0.8em 1em 0.8em 1.6em;
}

@media screen and (max-width: 767px) {
  .aboutBlock__out {
    width: auto;
    max-width: 110rem;
    margin: -30px 1em 0;
    padding: 30px 1em;
  }
  .aboutBlock__lead {
    max-width: 780px;
    padding: 6rem 2rem 8rem;
    font-size: 1.6rem;
  }
  section.aboutBlock {
    font-size: 1.6rem;
    margin: 0 auto 3em;
    padding: 0 10px;
  }
  section.aboutBlock__ex {
    margin: 0 auto 2em;
  }
  section.aboutBlock .aboutBlock__list {
    margin: 2em 0;
  }
  section.aboutBlock .aboutBlock__txt {
    width: 60%;
    padding: 0 30px 0 0;
  }
  section.aboutBlock .aboutBlock__img {
    width: 40%;
  }
  section.aboutBlock .aboutBlock__img img {
    width: 120%;
  }
  section.aboutBlock .aboutBlock__img__left .aboutBlock__txt {
    padding: 0 0 0 30px;
  }
  section.aboutBlock .aboutBlock__img__left .aboutBlock__img {
    left: -50px;
  }
  section.aboutBlock .sttl-small {
    margin-top: 3em;
  }
  section.aboutBlock .sttl-min {
    font-size: 1.7rem;
  }
  section.aboutBlock .sttl-about {
    margin: 0 auto 1em;
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.2;
  }
  section.aboutBlock .sttl-about br {
    display: none;
  }
}

@media screen and (max-width: 568px) {
  section.aboutBlock {
    font-size: 1.6rem;
    margin: 0 auto 3em;
    padding: 0 10px;
  }
  section.aboutBlock__ex {
    margin: 0 auto 2em;
  }
  section.aboutBlock .aboutBlock__list {
    margin: 2em 0;
  }
  section.aboutBlock .aboutBlock__txt {
    display: block;
    width: auto;
    padding: 0 0 2rem;
  }
  section.aboutBlock .aboutBlock__img {
    display: block;
    width: auto;
  }
  section.aboutBlock .aboutBlock__img img {
    width: 100%;
  }
  section.aboutBlock .aboutBlock__img__left .aboutBlock__txt {
    padding: 0 0 2em;
  }
  section.aboutBlock .aboutBlock__img__left .aboutBlock__img {
    position: static;
    left: 0;
  }
  section.aboutBlock .sttl-small {
    margin-top: 3em;
  }
  section.aboutBlock .sttl-min {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 375px) {
  .aboutBlock__out {
    margin: -30px 10px 0;
    padding: 20px 5px;
  }
  section.aboutBlock {
    font-size: 1.4rem;
    margin: 0 auto 2em;
  }
  section.aboutBlock .sttl-about {
    margin: 0 auto 0.5em;
    font-size: 1.6rem;
    font-weight: normal;
    line-height: 1.2;
  }
  section.aboutBlock .sttl-min {
    font-size: 1.6rem;
  }
}

.sttlBlock {
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}

.accessBlock {
  font-size: 1.8rem;
  max-width: 1000px;
  margin: 0 auto 5em;
  padding: 0 10px;
}

.accessBlock .access__link {
  display: inline-block;
  padding: 5px;
  text-decoration: underline;
}

.accessBlock .access__link:hover {
  text-decoration: none;
}

.accessBlock .address {
  clear: both;
  overflow: hidden;
  background: #f4f9fb;
  padding: 25px 30px;
  margin: 3em auto 2em;
  font-weight: bold;
}

.accessBlock .address__ttl {
  display: inline-block;
  color: #42b9d0;
  padding: 0;
}

.accessBlock .address__ttl:after {
  display: inline-block;
  content: "";
  width: 1px;
  height: 2em;
  margin: 0 0 0 30px;
  background: #fff;
  vertical-align: middle;
}

.accessBlock .address__txt {
  display: inline-block;
  padding: 0 0 0 30px;
}

.accessBlock__txt {
  width: 56%;
  float: left;
  margin: 0 0 3em;
}

.accessBlock__img {
  width: 40%;
  float: right;
  margin: 3em 0;
}

.accessBlock__img img {
  margin: 0 0 2em;
}

.accessBlock__map iframe {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 767px) {
  .accessBlock {
    font-size: 1.6rem;
    margin: 0 2em 5em;
    padding: 0;
  }
  .accessBlock .access__link {
    display: inline-block;
    padding: 0;
    margin: 0 0 0.5em;
  }
  .accessBlock .address {
    padding: 20px 20px;
    margin: 1em auto 2em;
  }
  .accessBlock .address__ttl {
    display: block;
    padding: 0;
    margin: 0 0 0.5em;
  }
  .accessBlock .address__ttl:after {
    display: none;
  }
  .accessBlock .address__txt {
    display: block;
    padding: 0;
  }
  .accessBlock__txt {
    width: auto;
    float: none;
    margin: 0 0 3em;
  }
  .accessBlock__img {
    width: auto;
    float: none;
    margin: 3em 0;
    text-align: center;
  }
  .accessBlock__img img {
    margin: 0 auto 2em;
    max-width: 400px;
  }
}

@media screen and (max-width: 375px) {
  .accessBlock {
    font-size: 1.4rem;
    margin: 0 1em 2em;
    padding: 0;
  }
  .accessBlock .address {
    padding: 15px;
    margin: 1em auto 2em;
  }
}

.sttlBlock {
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}

.firstBlock {
  font-size: 1.8rem;
  max-width: 800px;
  margin: 0 auto 5em;
  padding: 0 10px;
}

.firstBlock .lead {
  margin: 2em auto 2em;
}

.firstBlock .sttl-large {
  margin-top: 2em;
}

@media screen and (max-width: 767px) {
  .firstBlock {
    font-size: 1.6rem;
    margin: 0 2em 5em;
    padding: 0;
  }
  .firstBlock .lead {
    margin: 1em auto 1em;
  }
}

@media screen and (max-width: 375px) {
  .firstBlock {
    font-size: 1.4rem;
    margin: 0 1em 2em;
    padding: 0;
  }
  .firstBlock .lead {
    margin: 1em auto 0;
  }
}

.sttlBlock {
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}

.menupageNavi {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 50px;
}

.menupageNavi__item {
  width: 11%;
  height: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.menupageNavi__linkicon {
  position: relative;
  display: block;
  background: #467da6;
  border-radius: 10px;
  margin: 0 auto 5px;
}

.menupageNavi__linkicon img {
  background: none;
  opacity: 0.6;
  border-radius: 10px;
}

.menupageNavi__link:hover .menupageNavi__linkicon {
  border-radius: 50%;
}

.menupageNavi__link:hover .menupageNavi__linkicon img {
  opacity: 1;
  border-radius: 50%;
}

.pagemenuBlock__out {
  background: #fff;
  width: 100%;
  max-width: 110rem;
  margin: -60px auto 0;
  padding: 60px 0 0;
}

.pagemenuBlock__leadbox {
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.pagemenuBlock__leadbox01 {
  background: url(/assets/images/menu/menulead_bg01.jpg) center -50px no-repeat;
}

.pagemenuBlock__leadbox02 {
  background: url(/assets/images/menu/menulead_bg02.jpg) center -50px no-repeat;
}

.pagemenuBlock__leadbox03 {
  background: url(/assets/images/menu/menulead_bg03.jpg) center -50px no-repeat;
}

.pagemenuBlock__leadbox04 {
  background: url(/assets/images/menu/menulead_bg04.jpg) center -50px no-repeat;
}

.pagemenuBlock__leadbox05 {
  background: url(/assets/images/menu/menulead_bg05.jpg) center -50px no-repeat;
}

.pagemenuBlock__leadbox06 {
  background: url(/assets/images/menu/menulead_bg06.jpg) center -50px no-repeat;
}

.pagemenuBlock__leadbox07 {
  background: url(/assets/images/menu/menulead_bg07.jpg) center -50px no-repeat;
}

.pagemenuBlock__leadbox08 {
  background: url(/assets/images/menu/menulead_bg08.jpg) center -50px no-repeat;
}

.pagemenuBlock__lead {
  display: table;
  width: 100%;
  max-width: 800px;
  padding: 6rem 2rem 10rem;
  margin: 0 auto;
  line-height: 1.8;
}

.pagemenuBlock__lead .leadttl {
  font-size: 3.4rem;
}

.pagemenuBlock__lead .leadtxt {
  font-size: 1.8rem;
  font-weight: normal;
}

.pagemenuBlock .txt_r {
  font-size: 0.7em;
  position: relative;
  top: -3px;
}

.pagemenuBlock .linkbtn:hover {
  opacity: 0.7;
}

.pagemenuBlock {
  font-size: 1.8rem;
  max-width: 800px;
  margin: 0 auto 5em;
  padding: 0 10px;
}

.pagemenuBlock .pagemenuBlock__list {
  display: table;
  margin: 1em auto 1em;
  max-width: 800px;
}

.pagemenuBlock .pagemenuBlock__list p {
  margin: 0 auto 1em;
}

.pagemenuBlock .sttl-small {
  margin-top: 1em;
}

@media screen and (max-width: 767px) {
  .menupageNavi {
    flex-wrap: wrap;
    margin: 0 auto 20px;
  }
  .menupageNavi__item {
    width: 22%;
    height: 100%;
    font-size: 1.1em;
    margin: 0 auto 20px;
  }
  .pagemenuBlock__out {
    width: 96%;
    margin: -60px auto 0;
    padding: 20px 15px 0;
  }
  .pagemenuBlock__leadbox01 {
    background: url(/assets/images/menu/menulead_bg01.jpg) center 0px no-repeat;
    background-size: 100% auto;
  }
  .pagemenuBlock__leadbox02 {
    background: url(/assets/images/menu/menulead_bg02.jpg) center 0px no-repeat;
    background-size: 100% auto;
  }
  .pagemenuBlock__leadbox03 {
    background: url(/assets/images/menu/menulead_bg03.jpg) center 0px no-repeat;
    background-size: 100% auto;
  }
  .pagemenuBlock__leadbox04 {
    background: url(/assets/images/menu/menulead_bg04.jpg) center 0px no-repeat;
    background-size: 100% auto;
  }
  .pagemenuBlock__leadbox05 {
    background: url(/assets/images/menu/menulead_bg05.jpg) center 0px no-repeat;
    background-size: 100% auto;
  }
  .pagemenuBlock__leadbox06 {
    background: url(/assets/images/menu/menulead_bg06.jpg) center 0px no-repeat;
    background-size: 100% auto;
  }
  .pagemenuBlock__leadbox07 {
    background: url(/assets/images/menu/menulead_bg07.jpg) center 0px no-repeat;
    background-size: 100% auto;
  }
  .pagemenuBlock__leadbox08 {
    background: url(/assets/images/menu/menulead_bg08.jpg) center 0px no-repeat;
    background-size: 100% auto;
  }
  .pagemenuBlock__lead {
    display: table;
    width: 100%;
    max-width: 800px;
    padding: 4rem 2rem 8rem;
    margin: 0 auto;
    line-height: 1.8;
  }
  .pagemenuBlock__lead .leadttl {
    font-size: 2.8rem;
  }
  .pagemenuBlock__lead .leadtxt {
    font-size: 1.6rem;
    font-weight: normal;
  }
  .pagemenuBlock {
    font-size: 1.6rem;
    margin: 0 auto 2em;
    padding: 0 10px;
  }
  .pagemenuBlock .pagemenuBlock__list {
    display: table;
    margin: 1em auto 1em;
    max-width: 800px;
  }
  .pagemenuBlock .pagemenuBlock__list p {
    margin: 0 auto 1em;
  }
}

@media screen and (max-width: 568px) {
  .menupageNavi__item {
    font-size: 1em;
    margin: 0 auto 10px;
  }
  .pagemenuBlock__out {
    width: 96%;
    margin: -40px auto 0;
    padding: 15px 15px 0;
  }
  .pagemenuBlock__leadbox01 {
    background: url(/assets/images/menu/menulead_bg01.jpg) center 0px no-repeat;
    background-size: 120% auto;
  }
  .pagemenuBlock__leadbox02 {
    background: url(/assets/images/menu/menulead_bg02.jpg) center 0px no-repeat;
    background-size: 120% auto;
  }
  .pagemenuBlock__leadbox03 {
    background: url(/assets/images/menu/menulead_bg03.jpg) center 0px no-repeat;
    background-size: 120% auto;
  }
  .pagemenuBlock__leadbox04 {
    background: url(/assets/images/menu/menulead_bg04.jpg) center 0px no-repeat;
    background-size: 120% auto;
  }
  .pagemenuBlock__leadbox05 {
    background: url(/assets/images/menu/menulead_bg05.jpg) center 0px no-repeat;
    background-size: 120% auto;
  }
  .pagemenuBlock__leadbox06 {
    background: url(/assets/images/menu/menulead_bg06.jpg) center 0px no-repeat;
    background-size: 120% auto;
  }
  .pagemenuBlock__leadbox07 {
    background: url(/assets/images/menu/menulead_bg07.jpg) center 0px no-repeat;
    background-size: 120% auto;
  }
  .pagemenuBlock__leadbox08 {
    background: url(/assets/images/menu/menulead_bg08.jpg) center 0px no-repeat;
    background-size: 120% auto;
  }
  .pagemenuBlock__lead {
    padding: 4rem 2rem 7rem;
    margin: 0 auto;
  }
  .pagemenuBlock__lead .leadttl {
    font-size: 2.2rem;
  }
  .pagemenuBlock__lead .leadtxt {
    font-size: 1.5rem;
    font-weight: normal;
  }
  .pagemenuBlock {
    font-size: 1.5rem;
    padding: 0 10px;
  }
}

@media screen and (max-width: 375px) {
  .menupageNavi__item {
    font-size: 0.9em;
    margin: 0 auto 10px;
  }
  .pagemenuBlock__out {
    width: 96%;
    margin: -40px auto 0;
    padding: 10px 10px 0;
  }
  .pagemenuBlock__leadbox01 {
    background: url(/assets/images/menu/menulead_bg01.jpg) center 0px no-repeat;
    background-size: 160% auto;
  }
  .pagemenuBlock__leadbox02 {
    background: url(/assets/images/menu/menulead_bg02.jpg) center 0px no-repeat;
    background-size: 160% auto;
  }
  .pagemenuBlock__leadbox03 {
    background: url(/assets/images/menu/menulead_bg03.jpg) center 0px no-repeat;
    background-size: 160% auto;
  }
  .pagemenuBlock__leadbox04 {
    background: url(/assets/images/menu/menulead_bg04.jpg) center 0px no-repeat;
    background-size: 160% auto;
  }
  .pagemenuBlock__leadbox05 {
    background: url(/assets/images/menu/menulead_bg05.jpg) center 0px no-repeat;
    background-size: 160% auto;
  }
  .pagemenuBlock__leadbox06 {
    background: url(/assets/images/menu/menulead_bg06.jpg) center 0px no-repeat;
    background-size: 160% auto;
  }
  .pagemenuBlock__leadbox07 {
    background: url(/assets/images/menu/menulead_bg07.jpg) center 0px no-repeat;
    background-size: 160% auto;
  }
  .pagemenuBlock__leadbox08 {
    background: url(/assets/images/menu/menulead_bg08.jpg) center 0px no-repeat;
    background-size: 160% auto;
  }
  .pagemenuBlock__lead {
    padding: 3rem 2rem 6rem;
    margin: 0 auto;
  }
  .pagemenuBlock__lead .leadttl {
    font-size: 2rem;
  }
  .pagemenuBlock__lead .leadtxt {
    font-size: 1.2rem;
  }
  .pagemenuBlock {
    font-size: 1.4rem;
    padding: 0 10px;
  }
}

.sttlBlock {
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}

.newsBlock {
  padding: 80px 0 80px;
}

.newsBlock__listnum {
  text-align: right;
  margin: 0 0 10px;
  font-size: 1.4rem;
}

.newsBlock__list {
  font-size: 2rem;
}

.newsBlock__item {
  position: relative;
}

.newsBlock__link {
  display: block;
  margin-top: -1px;
  color: #333 !important;
  padding: 35px 50px 35px 35px;
  letter-spacing: 1px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.newsBlock__link:hover {
  background: #fbfcfc;
}

.newsBlock__link .date {
  display: table-cell;
  width: 8.8em;
  color: #467da6;
}

.newsBlock__link .txt {
  display: table-cell;
}

.newsBlock__link .icon-new {
  position: relative;
  top: -2px;
  display: inline-block;
  margin: 0 0 5px 12px;
  background: #ef0557;
  color: #fff;
  padding: 4px 8px 2px;
  font-size: 11px;
}

.newsBlock__link:after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background: url(/assets/images/common/icon_arrow_blue.png) center center no-repeat;
  background-size: auto 1em;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .newsBlock {
    padding: 60px 0 40px;
  }
  .newsBlock__list {
    font-size: 1.5rem;
  }
  .newsBlock__link {
    display: block;
    color: #333 !important;
    padding: 12px 20px 12px 10px;
    letter-spacing: 1px;
  }
  .newsBlock__link .date {
    display: table-cell;
  }
  .newsBlock__link .txt {
    display: table-cell;
  }
  .newsBlock__link:after {
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    display: inline-block;
    width: 1em;
    height: 1em;
    background: url(/assets/images/common/icon_arrow_blue.png) center center no-repeat;
    background-size: auto 1em;
    vertical-align: middle;
  }
}

@media screen and (max-width: 375px) {
  .newsBlock {
    padding: 40px 0 30px;
  }
  .newsBlock__list {
    font-size: 1.5rem;
  }
  .newsBlock__link {
    display: block;
    color: #333 !important;
    padding: 12px 30px 12px 10px;
    letter-spacing: 1px;
  }
  .newsBlock__link .date {
    display: block;
    margin: 0 0 5px;
  }
  .newsBlock__link .txt {
    display: block;
  }
  .newsBlock__link .icon-new {
    font-size: 10px;
  }
}

/* --------------------------------------------------
newsDetail
 -------------------------------------------------- */
section.newsDetail {
  padding: 80px 0 0;
}

section.newsDetail .newsDetailBlock__sttlbox {
  margin: 0 auto 60px;
  max-width: 900px;
}

section.newsDetail .newsDetailBlock__catebox {
  display: table-cell;
  position: relative;
  vertical-align: middle;
  line-height: 3rem;
  font-size: 1.6rem;
  width: 18rem;
  height: 18rem;
  text-align: center;
  color: #fff;
  background: linear-gradient(-45deg, #93cfe9, #1b87d8);
  z-index: 2000;
}

section.newsDetail .newsDetailBlock__catebox .post-date {
  font-size: 2.2rem;
}

section.newsDetail .newsDetailBlock .post-ttl {
  display: table-cell;
  font-size: 3rem;
  vertical-align: middle;
  padding: 0 0 0 30px;
  font-weight: normal;
}

section.newsDetail .newsDetailBlock .post-ttl .icon-new {
  position: relative;
  top: -2px;
  display: inline-block;
  margin: 0 0 5px 12px;
  background: #ef0557;
  color: #fff;
  padding: 4px 8px 2px;
  font-size: 12px;
}

section.newsDetail .newsDetailBlock__txt {
  padding: 0 60px;
  margin: 0 0 100px;
  font-size: 2rem;
}

section.newsDetail .related-file, section.newsDetail .related-link {
  display: block;
  font-size: 2rem;
  text-align: center;
  margin: 0 auto 20px;
}

section.newsDetail .related-file a, section.newsDetail .related-link a {
  padding: 20px 0;
  width: 50rem;
  display: inline-block;
  text-align: center;
  color: #fff;
  background: #1b87d8;
}

section.newsDetail .related-file a:hover, section.newsDetail .related-link a:hover {
  opacity: 0.7;
}

section.newsDetail .related-file a:before, section.newsDetail .related-link a:before {
  vertical-align: middle;
  content: "";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 10px 0 0;
}

section.newsDetail .related-link a:before {
  background: url(/assets/images/common/icon_link.png) 0 0 no-repeat;
  background-size: 1em;
}

section.newsDetail .related-file a:before {
  background: url(/assets/images/common/icon_download.png) 0 0 no-repeat;
  background-size: 1em;
}

.tabBlock.detail_tabBlock .active .tabBlock__link:after {
  display: none;
}

/* --------------------------------------------------
post-content
-------------------------------------------------- */
.post-content {
  overflow: hidden;
}

/* post-sttl-large */
.post-sttl-large {
  position: relative;
  margin: 0 auto 2em;
  font-size: 2.4rem;
  padding: 10px 0;
  font-weight: bold;
  border-bottom: 5px solid #eff7fc;
  max-width: 900px;
}

.post-sttl-large:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  display: inline-block;
  content: "";
  height: 5px;
  width: 180px;
  background: #42b9d0;
}

@media screen and (max-width: 767px) {
  .post-sttl-large {
    margin: 0 auto 1.5em;
    font-size: 1.8rem;
    padding: 10px 0;
  }
  .post-sttl-large:after {
    width: 100px;
  }
}

/* post-sttl-small */
.post-sttl-small {
  margin: 0 auto 1em;
  font-size: 2rem;
  font-weight: bold;
  background: #eff7fc url(/assets/images/common/icon_smallttl.png) 1em center no-repeat;
  padding: 0.8em 1em 0.8em 2.6em;
  max-width: 900px;
}

@media screen and (max-width: 767px) {
  .post-sttl-small {
    margin: 0 auto 1em;
    font-size: 1.5rem;
    font-weight: normal;
    background: #eff7fc url(/assets/images/common/icon_smallttl.png) 0.8em center no-repeat;
    background-size: 1em;
    padding: 0.6em 0.8em 0.6em 2.6em;
    line-height: 1.2;
  }
}

/* post-pht */
.post-pht {
  margin-bottom: 2em;
}

.post-pht div {
  width: 100%;
  height: auto;
  max-height: 600px;
  text-align: center;
}

.post-pht img {
  height: auto;
  max-height: 600px;
  max-width: 100%;
  width: auto;
}

.post-pht figcaption {
  display: block;
  font-size: 1.2rem;
  padding: 5px;
  line-height: 1.2;
  text-align: center;
}

/* two-post-pht */
.two-post-pht {
  display: flex;
  justify-content: space-between;
}

.two-post-pht .post-pht {
  width: 48%;
  font-size: 1.6rem;
  vertical-align: top;
}

@media screen and (max-width: 420px) {
  .post-pht div {
    max-height: 300px;
  }
  .post-pht img {
    max-height: 300px;
  }
}

/* wysiwyg */
.wysiwyg {
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-bottom: 4%;
  max-width: 800px;
  margin: auto;
  font-size: 1.4em;
  text-align: left;
}

/* 段落 <p> */
.wysiwyg p {
  margin-bottom: 1em;
  text-align: left;
}

/* 太字赤文字 */
.wysiwyg .em {
  font-weight: bold;
  color: #F00;
}

/* 太字 <strong> */
.wysiwyg strong {
  font-weight: bold;
}

/* 斜体 <i> */
.wysiwyg i {
  font-style: italic;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

/* 下線 <u> */
.wysiwyg u {
  text-decoration: underline;
}

/* 打ち消し線 <s> */
.wysiwyg s {
  text-decoration: line-through;
}

/* 下付き <sub> */
.wysiwyg sub {
  font-size: 0.8rem;
}

/* 上付き <sup> */
.wysiwyg sup {
  font-size: 0.8rem;
}

/* 順序のないリスト <ol> */
.wysiwyg ol {
  margin: 0.5em 0 1em;
  padding: 0 1.5em;
  list-style: decimal outside;
}

.wysiwyg li ol > li {
  text-indent: 0;
}

/*順序のないリスト <ul> */
.wysiwyg ul {
  margin: 0.5em 0 1em;
  padding: 0 0.5em;
  list-style: none;
}

.wysiwyg ul > li {
  padding-left: 1em;
  text-indent: -1em;
}

.wysiwyg ul > li:before {
  content: "\f0da";
  font-family: FontAwesome;
  margin-right: 0.5em;
}

/* インデント <p class="txt-indent"> */
.wysiwyg .txt-indent {
  text-indent: 1em;
}

/* ブロック引用文 <blockquote> */
.wysiwyg blockquote {
  position: relative;
  padding: 1.5em 2em;
  box-sizing: border-box;
  font-style: italic;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック", "Yu Gothic", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background: #FBFBFB;
  margin: 0.5em 1em;
}

.wysiwyg blockquote p {
  margin: 0;
}

/* 中央揃え <p class="txt-center"> */
.wysiwyg .txt-center {
  text-align: center;
}

/* 右揃え <p class="txt-right"> */
.wysiwyg .txt-right {
  text-align: right;
}

/* 両端揃え <p class="txt-justify"> */
.wysiwyg .txt-justify {
  text-align: justify;
}

/* ハイパーリンク <a href=""> */
.wysiwyg a[href] {
  text-decoration: underline;
  color: #03F;
}

/* アンカー挿入 <a id="" name=""> */
.wysiwyg a {
  text-decoration: none;
  color: inherit;
}

/* テーブル <table> */
.wysiwyg table {
  width: auto;
  margin: 1em 0 2em;
  border-collapse: collapse;
  border: 1px solid #DDD;
  max-width: 100%;
  border-spacing: 0;
}

.wysiwyg table caption {
  text-align: center;
  margin-bottom: 0.5em;
}

.wysiwyg table tr th {
  background: #eff7fc;
  padding: 1em;
  border: 1px solid #dfe7ec;
}

.wysiwyg table tr td {
  background: #FFFFFF;
  padding: 1em;
  border: 1px solid #dfe7ec;
  word-break: break-all;
  word-wrap: break-word;
}

.wysiwyg table .txt-justify {
  text-align-last: justify;
}

/* フォントサイズ小 <span class="font-size-small"> */
.wysiwyg .font-size-small {
  font-size: 0.6em;
}

/* フォントサイズ大 <span class="font-size-large"> */
.wysiwyg .font-size-large {
  font-size: 1.75em;
}

/* 文字の間隔0.5em <span class="font-space-small"> */
.wysiwyg .font-space-small {
  letter-spacing: 0.5em;
  margin-right: -0.5em;
}

/* 文字の間隔1.0em <span class="font-space-medium"> */
.wysiwyg .font-space-medium {
  letter-spacing: 1.0em;
  margin-right: -1.0em;
}

/* 文字の間隔1.5em <span class="font-space-large"> */
.wysiwyg .font-space-large {
  letter-spacing: 1.5em;
  margin-right: -1.5em;
}

/* 文字の間隔2.0em <span class="font-space-xlarge"> */
.wysiwyg .font-space-xlarge {
  letter-spacing: 2.0em;
  margin-right: -2.0em;
}

.btn-postback {
  display: block;
  font-size: 2rem;
  text-align: center;
  margin: 80px auto 80px;
}

.btn-postback a {
  padding: 20px 10px;
  width: 50rem;
  display: inline-block;
  text-align: center;
  color: #1b87d8;
  border: 2px solid  #1b87d8;
}

.btn-postback a:hover {
  background: #1b87d8;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .newsDetail {
    padding: 40px 0 0;
  }
  .newsDetail .newsDetailBlock__sttlbox {
    margin: 0 0 50px;
  }
  .newsDetail .newsDetailBlock__catebox {
    line-height: 3rem;
    font-size: 1.3rem;
    width: 16rem;
    height: 16rem;
  }
  .newsDetail .newsDetailBlock__catebox .post-date {
    font-size: 2rem;
  }
  .newsDetail .newsDetailBlock .post-ttl {
    font-size: 2.5rem;
    padding: 0 0 0 30px;
  }
  .newsDetail .newsDetailBlock__txt {
    padding: 0 10px;
    margin: 0 0 30px;
    font-size: 1.8rem;
  }
  .newsDetail .related-link, .newsDetail .related-file {
    display: block;
    font-size: 1.8rem;
    margin: 0 auto 20px;
  }
  .newsDetail .related-link a, .newsDetail .related-file a {
    padding: 20px 10px;
    width: auto;
    display: block;
  }
  /* --------------------------------------------------
  post-content
  -------------------------------------------------- */
  /* post-sttl-large */
  /* two-post-pht */
  .two-post-pht .post-pht {
    font-size: 1.5rem;
  }
  /* wysiwyg */
  .wysiwyg {
    font-size: 1.2em;
  }
  /* インデント <p class="txt-indent"> */
  .wysiwyg .txt-indent {
    text-indent: 1em;
  }
  /* ブロック引用文 <blockquote> */
  .wysiwyg blockquote {
    padding: 1em;
    margin: 0.5em;
  }
  .wysiwyg table caption {
    text-align: center;
    margin-bottom: 0.5em;
  }
  .wysiwyg table tr th {
    padding: 0.8em;
  }
  .wysiwyg table tr td {
    padding: 0.8em;
  }
  /* フォントサイズ小 <span class="font-size-small"> */
  .wysiwyg .font-size-small {
    font-size: 0.8em;
  }
  /* フォントサイズ大 <span class="font-size-large"> */
  .wysiwyg .font-size-large {
    font-size: 1.6em;
  }
  .btn-postback {
    display: block;
    font-size: 1.8rem;
    margin: 40px 20px 40px;
  }
  .btn-postback a {
    padding: 15px 0;
    width: auto;
    display: block;
  }
}

@media screen and (max-width: 375px) {
  .newsDetail {
    padding: 20px 0 0;
  }
  .newsDetail .newsDetailBlock__sttlbox {
    margin: 0 auto 40px;
  }
  .newsDetail .newsDetailBlock__catebox {
    line-height: 2.2rem;
    font-size: 1.2rem;
    width: 11rem;
    height: 11rem;
  }
  .newsDetail .newsDetailBlock__catebox .post-date {
    font-size: 1.5rem;
  }
  .newsDetail .newsDetailBlock .post-ttl {
    display: table-cell;
    font-size: 1.8rem;
    vertical-align: middle;
    padding: 0 0 0 15px;
    font-weight: normal;
  }
  .newsDetail .newsDetailBlock__txt {
    padding: 0 0px;
    margin: 0 0 60px;
    font-size: 1.4rem;
    line-height: 1.8;
  }
  .newsDetail .related-link, .newsDetail .related-file {
    display: block;
    font-size: 1.6rem;
    margin: 0 20px 20px;
  }
  .newsDetail .related-link a, .newsDetail .related-file a {
    width: auto;
    display: block;
  }
}

.sttlBlock {
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}

.sitepolicyBlock {
  font-size: 1.8rem;
  max-width: 800px;
  margin: 0 auto 5em;
  padding: 0 10px;
}

.sitepolicyBlock .lead {
  margin: 2em auto 2em;
}

.sitepolicyBlock .sttl-large {
  margin-top: 2em;
}

@media screen and (max-width: 767px) {
  .sitepolicyBlock {
    font-size: 1.6rem;
    margin: 0 2em 5em;
    padding: 0;
  }
}

@media screen and (max-width: 375px) {
  .sitepolicyBlock {
    font-size: 1.4rem;
    margin: 0 1em 2em;
    padding: 0;
  }
}

.sttlBlock {
  background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
  background-size: auto 220px;
}

@media screen and (max-width: 767px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 220px;
  }
}

@media screen and (max-width: 375px) {
  .sttlBlock {
    background: #eff7fc url(/assets/images/news/news_title_bg.jpg) right 0 no-repeat;
    background-size: auto 130px;
  }
}

.directorBlock {
  position: relative;
  background: #f4f9fb;
  text-align: center;
  padding: 0 0 30px;
}

.directorBlock__img {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #d8d8d8;
}

.directorBlock__img img {
  display: inline-block;
  margin: 0 auto;
}

.directorBlock__lead {
  position: absolute;
  top: 0;
  right: 30px;
  left: 0;
  z-index: 999;
  max-width: 1080px;
  margin: auto;
  text-align: right;
}

.directorBlock__leadIn {
  margin: 140px 0 0;
  display: inline-block;
  width: 50vw;
  max-width: 600px;
  text-align: left;
  font-size: 1.6em;
}

.directorBlock .name {
  text-align: center;
  font-size: 1.4em;
  margin: 10px auto 0;
}

.directorBlock .name span {
  font-size: 1.2em;
  display: inline-block;
  margin: 0 0 0 10px;
}

.directorBlock__txtIn {
  width: 47%;
}

.directorBlock__txt {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -70px;
  background: #fff;
  max-width: 1140px;
  margin: 0 auto;
  padding: 40px 40px 10px;
  text-align: left;
  letter-spacing: 0px;
}

.directorBlock__txt .biography {
  margin: 0 auto 30px;
}

.directorBlock__txt .biography__list {
  font-size: 1.3em;
  margin: 0 auto 5px;
}

.directorBlock .sttl_sub {
  margin: 0 0 10px;
  font-size: 1.6em;
  color: #42b9d0;
}

.staffBlock__out {
  display: flex;
  flex-wrap: wrap;
  max-width: 1160px;
  margin: 0 auto;
}

.staffBlock {
  background: #fff;
  margin: 0 auto 30px;
  padding: 30px;
  width: 48%;
}

.staffBlock__sttl {
  font-weight: bold;
  margin: 0 auto 30px;
  color: #42b9d0;
  font-size: 2.2em;
  width: 100%;
}

.staffBlock__img {
  width: 50%;
  vertical-align: middle;
  background: #fff;
  margin: 0 auto;
}

.staffBlock__img img {
  border-radius: 50%;
}

.staffBlock__txtIn {
  display: table-cell;
  width: 50%;
  text-align: left;
  vertical-align: middle;
  padding: 30px 0;
}

.staffBlock .biography {
  margin: 0 auto;
}

.staffBlock .biography__list {
  font-size: 1.3em;
  margin: 0 auto 2px;
}

.staffBlock__name {
  text-align: center;
  font-size: 2.4em;
  margin: 10px 0 15px;
}

.staffBlock .sttl_sub {
  margin: 0 0 5px;
  font-size: 1.4em;
  color: #42b9d0;
}

@media screen and (max-width: 1180px) {
  .directorBlock__txt {
    margin: 0 30px;
    top: -20px;
  }
  .directorBlock__leadIn {
    margin: 7vw 40px 0 0;
  }
  .directorBlock__img img {
    position: relative;
    left: -8vw;
  }
}

@media screen and (max-width: 767px) {
  .directorBlock {
    padding: 0 0 30px;
  }
  .directorBlock__img {
    margin: auto;
    background: #d8d8d8;
    overflow: hidden;
  }
  .directorBlock__img img {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: -25vw;
    width: 150vw;
    max-width: 150vw;
  }
  .directorBlock__lead {
    position: absolute;
    top: 0;
    right: 30px;
    left: 0;
    z-index: 999;
    max-width: 1080px;
    margin: auto;
    text-align: right;
  }
  .directorBlock__leadIn {
    margin: 10vw 0 0;
    width: 52vw;
    max-width: 52vw;
    font-size: 1.4em;
  }
  .directorBlock .name {
    font-size: 1.2em;
    margin: 10px auto 0;
  }
  .directorBlock .name span {
    font-size: 1.2em;
  }
  .directorBlock__txtIn {
    width: auto;
    margin: 0 10px;
  }
  .directorBlock__txt {
    background: #fff;
    margin: 0 30px;
    text-align: left;
    letter-spacing: 1px;
  }
  .directorBlock__txt .biography {
    margin: 0 auto 20px;
  }
  .directorBlock__txt .biography__list {
    font-size: 1.2em;
    margin: 0 auto 2px;
  }
  .directorBlock .sttl_sub {
    margin: 0 0 10px;
    font-size: 1.4em;
  }
  .staffBlock .biography {
    margin: 0 auto;
  }
  .staffBlock .biography__list {
    font-size: 1.2em;
    margin: 0 auto 2px;
  }
  .staffBlock__name {
    font-size: 1.8em;
    margin: 0 0 10px;
  }
  .staffBlock .sttl_sub {
    margin: 0 0 5px;
    font-size: 1.4em;
  }
}

@media screen and (max-width: 568px) {
  .directorBlock {
    padding: 0 0 30px;
  }
  .directorBlock__img img {
    left: 0;
  }
  .directorBlock__lead {
    position: static;
    background: #f4f9fb;
    margin: -12vw 30px 30px;
    padding: 30px;
  }
  .directorBlock__leadIn {
    margin: 0 0;
    width: 100%;
    max-width: 100%;
    font-size: 1.3em;
  }
  .directorBlock .name {
    font-size: 1.1em;
    margin: 10px auto 20px;
  }
  .directorBlock .name span {
    font-size: 1.2em;
  }
  .directorBlock__txt {
    top: -30px;
    margin: 0 20px;
    padding: 20px;
    letter-spacing: 0;
  }
  .directorBlock__txt .biography {
    margin: 0 auto 15px;
  }
  .directorBlock__txt .biography__list {
    font-size: 1.1em;
  }
  .staffBlock {
    position: relative;
    padding: 20px 5px 10px;
    width: 47%;
  }
  .staffBlock__sttl {
    font-size: 1.8em;
    margin: 0 auto 30px;
  }
  .staffBlock__img {
    width: 80%;
    padding: 0;
    margin: 0 auto 10px;
    display: inline-block;
  }
  .staffBlock__img img {
    width: 80%;
    border-radius: 50%;
  }
  .staffBlock__txtIn {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding: 0;
    width: auto;
    text-align: center;
  }
  .staffBlock .biography {
    margin: 0 auto;
  }
  .staffBlock .biography__list {
    font-size: 1em;
    margin: 0 auto 4px;
    letter-spacing: 0;
    text-align: left;
    line-height: 1.4;
  }
  .staffBlock__name {
    margin: 0 0 10px;
  }
  .staffBlock .sttl_sub {
    margin: 0 0 5px;
    font-size: 1.1em;
    text-align: left;
  }
}

@media screen and (max-width: 375px) {
  .directorBlock {
    padding: 0 0 30px;
  }
  .directorBlock__lead {
    margin: -12vw 20px 20px;
    padding: 20px;
  }
  .directorBlock__leadIn {
    font-size: 1.2em;
  }
  .directorBlock .name {
    font-size: 1em;
  }
  .directorBlock .name span {
    font-size: 1.2em;
  }
  .staffBlock {
    padding: 20px 10px 10px;
  }
  .staffBlock__sttl {
    font-size: 1.1em;
    margin: 0 auto 20px;
  }
  .staffBlock__img {
    margin: 0 auto 20px;
  }
  .staffBlock__img img {
    width: 80%;
  }
  .staffBlock .biography__list {
    font-size: 1em;
  }
  .staffBlock__name {
    font-size: 1.4em;
  }
  .staffBlock .sttl_sub {
    font-size: 1.1em;
  }
}

.toppage .headerBox {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  z-index: 9999;
}

.toppage .indexMv {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.toppage .indexMv__item {
  background: #DEEBF4;
  text-align: center;
}

.toppage .indexMv__item img {
  display: inline-block;
  width: 100%;
  max-width: 1400px;
}

.toppage .indexMv__txt {
  vertical-align: middle;
  position: absolute;
  bottom: 140px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 4rem;
  text-shadow: 0 0 5px #fff;
}

.toppage .indexMv__txt:after {
  content: "";
  display: block;
  height: 80px;
  margin: 40px auto 0;
  background: url(/assets/images/index/icon_mv.png) center center no-repeat;
}

@media screen and (max-width: 1400px) {
  .toppage .indexMv__txt {
    bottom: 6vw;
    font-size: 3.6rem;
  }
  .toppage .indexMv__txt:after {
    content: "";
    display: block;
    height: 60px;
    margin: 30px auto 0;
    background: url(/assets/images/index/icon_mv.png) center center no-repeat;
    background-size: auto 60px;
  }
}

@media screen and (max-width: 767px) {
  .toppage .headerBox {
    position: relative;
  }
  .toppage .indexMv {
    position: relative;
    text-align: center;
  }
  .toppage .indexMv__txt {
    bottom: 4vw;
    font-size: 4vw;
  }
  .toppage .indexMv__txt:after {
    content: "";
    display: block;
    height: 40px;
    margin: 10px auto 0;
    background: url(/assets/images/index/icon_mv.png) center center no-repeat;
    background-size: auto 30px;
  }
}

@media screen and (max-width: 375px) {
  .toppage .indexMv {
    position: relative;
    text-align: center;
  }
  .toppage .indexMv__txt {
    z-index: 9999;
    bottom: 2.5vw;
    font-size: 1.2rem;
  }
  .toppage .indexMv__txt:after {
    height: 40px;
    background: url(/assets/images/index/icon_mv.png) center center no-repeat;
    background-size: auto 25px;
  }
}

.conceptBlock {
  background: url(/assets/images/index/bg_01.jpg) center center no-repeat;
  padding: 80px 0 80px;
}

.conceptBlock__In {
  padding: 50px 0 0;
}

.conceptBlock__Inbox {
  font-size: 2.1rem;
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  line-height: 1.8;
}

.conceptBlock__txt {
  padding: 0 10% 0 0;
}

.conceptBlock__linkbtn {
  padding: 0 0 0 10%;
}

.conceptBlock__link {
  display: inline-block;
  color: #fff !important;
  font-size: 2.4rem;
  padding: 25px 80px;
  text-align: center;
  background: #1b87d8;
}

.conceptBlock__link:hover {
  opacity: 0.7;
}

.conceptBlock__link:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 1em;
  background: url(/assets/images/common/icon_arrow_white.png) center center no-repeat;
  background-size: auto 0.6em;
  vertical-align: middle;
  margin: 0 0 0 10px;
}

.workshopBlock {
  background: url(/assets/images/index/bg_02.jpg) center center no-repeat;
  padding: 80px 0 80px;
}

.workshopBlock__In {
  padding: 50px 0 0;
}

.workshopBlock__Inbox {
  font-size: 2.1rem;
  display: table-cell;
  vertical-align: top;
  width: 50%;
  line-height: 1.8;
}

.workshopBlock__txt {
  padding: 0 0 0 10%;
  margin: 0 0 40px;
}

.workshopBlock__linkbtn {
  padding: 0 0 0 10%;
}

.workshopBlock__link {
  display: block;
  color: #fff !important;
  font-size: 2.4rem;
  padding: 25px 0;
  text-align: center;
  background: #1b87d8;
}

.workshopBlock__link:hover {
  opacity: 0.7;
}

.workshopBlock__link:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 1em;
  background: url(/assets/images/common/icon_arrow_white.png) center center no-repeat;
  background-size: auto 0.6em;
  vertical-align: middle;
  margin: 0 0 0 10px;
}

.menuBlock {
  background: #447eae;
  padding: 80px 0 80px;
}

.menuBlock__In {
  padding: 50px 0 0;
}

.menuBlock__list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.menuBlock__item {
  border-radius: 5px;
  width: 23%;
  width: calc(25% - 20px);
  text-align: center;
  margin: 0 0 3%;
}

.menuBlock__img {
  margin: 0 auto 8px;
}

.menuBlock__img img {
  border-radius: 10px;
}

.menuBlock__link {
  display: block;
  padding: 5px 0px 15px;
  color: #fff !important;
  font-size: 2rem;
}

.menuBlock__link:hover {
  opacity: 0.7;
}

.menuBlock__link .txt:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 1em;
  background: url(/assets/images/common/icon_arrow_white.png) center center no-repeat;
  background-size: auto 0.6em;
  vertical-align: middle;
  margin: 0 5px 0 0;
}

.menuBlock .blockSttl {
  color: #fff;
}

.menuBlock .blockSttl__sub {
  color: #fff;
}

@media screen and (max-width: 1080px) {
  .conceptBlock {
    padding: 60px 0 60px;
  }
  .conceptBlock__In {
    padding: 40px 0 0;
  }
  .conceptBlock__Inbox {
    font-size: 1.8rem;
  }
  .conceptBlock__txt {
    padding: 0 0 0 0;
  }
  .conceptBlock__linkbtn {
    padding: 0 0 0 10%;
  }
  .conceptBlock__link {
    display: block;
    font-size: 2.2rem;
    padding: 25px 0;
  }
  .menuBlock {
    padding: 60px 0 60px;
  }
  .menuBlock__In {
    padding: 40px 0 0;
  }
  .menuBlock__item {
    border-radius: 5px;
    width: 23%;
    width: calc(25% - 20px);
    text-align: center;
    margin: 0 0 3%;
  }
  .menuBlock__img {
    margin: 0 auto 5px;
  }
  .menuBlock__link {
    padding: 5px 0px 15px;
    font-size: 1.8rem;
  }
  .workshopBlock {
    padding: 60px 0 60px;
  }
  .workshopBlock__In {
    padding: 40px 0 0;
  }
  .workshopBlock__Inbox {
    font-size: 1.8rem;
  }
  .workshopBlock__img {
    padding: 0 10% 0 0;
  }
  .workshopBlock__txt {
    padding: 0;
    margin: 0 0 40px;
  }
  .workshopBlock__linkbtn {
    padding: 0;
  }
  .workshopBlock__link {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 767px) {
  .conceptBlock {
    padding: 60px 0 60px;
  }
  .conceptBlock__In {
    padding: 40px 0 0;
  }
  .conceptBlock__Inbox {
    font-size: 1.8rem;
    display: block;
    width: auto;
  }
  .conceptBlock__txt {
    padding: 0;
    margin: 0 0 20px;
  }
  .conceptBlock__linkbtn {
    padding: 0;
  }
  .conceptBlock__link {
    font-size: 2rem;
    padding: 20px 0;
  }
  .workshopBlock {
    padding: 60px 0 60px;
  }
  .workshopBlock__In {
    padding: 40px 0 0;
  }
  .workshopBlock__Inbox {
    font-size: 1.8rem;
    display: block;
    width: auto;
  }
  .workshopBlock__img {
    padding: 0;
    margin: 0 0 20px;
  }
  .workshopBlock__txt {
    padding: 0;
    margin: 0 0 20px;
  }
  .workshopBlock__linkbtn {
    padding: 0;
  }
  .workshopBlock__link {
    font-size: 2rem;
    padding: 20px 0;
  }
  .menuBlock {
    padding: 30px 0 60px;
  }
  .menuBlock__In {
    padding: 0 20px 0;
  }
  .menuBlock__item {
    border-radius: 5px;
    width: 48%;
    width: calc(50% - 10px);
    text-align: center;
    margin: 0 0 10px;
  }
  .menuBlock__img {
    margin: 0 auto 8px;
  }
  .menuBlock__link {
    display: block;
    padding: 10px 0 10px;
    color: #296596 !important;
    font-size: 1.4rem;
  }
  .menuBlock__item .menuBlock__link {
    color: #fff !important;
  }
  .menuBlock__item .menuBlock__link .txt:before {
    background: url(/assets/images/common/icon_arrow_white.png) center center no-repeat !important;
    background-size: auto 0.6em !important;
  }
}

@media screen and (max-width: 375px) {
  .conceptBlock {
    padding: 20px 0 40px;
  }
  .conceptBlock__In {
    padding: 0 0 0;
  }
  .conceptBlock__Inbox {
    font-size: 1.5rem;
  }
  .conceptBlock__link {
    font-size: 1.8rem;
    padding: 20px 0;
  }
  .workshopBlock {
    padding: 20px 0 40px;
  }
  .workshopBlock__In {
    padding: 0 0 0;
  }
  .workshopBlock__Inbox {
    font-size: 1.5rem;
  }
  .workshopBlock__img {
    padding: 0;
  }
  .workshopBlock__txt {
    padding: 0;
    margin: 0 0 40px;
  }
  .workshopBlock__linkbtn {
    padding: 0;
  }
  .workshopBlock__link {
    font-size: 1.8rem;
    padding: 20px 0;
  }
  .menuBlock {
    padding: 20px 0 60px;
  }
  .menuBlock__In {
    padding: 0 20px 0;
  }
}

.indexnewsBlock {
  background: #e3e8ec;
  padding: 80px 0 80px;
}

.indexnewsBlock__list {
  font-size: 1.8rem;
}

.indexnewsBlock__link {
  display: block;
  color: #333 !important;
  padding: 15px;
  letter-spacing: 1px;
}

.indexnewsBlock__link:hover {
  background: rgba(255, 255, 255, 0.4);
}

.indexnewsBlock__link .date {
  display: table-cell;
  width: 8.8em;
  color: #467da6;
}

.indexnewsBlock__link .txt {
  display: table-cell;
}

.indexnewsBlock__link .icon-new {
  display: inline-block;
  margin: 0 0 5px 10px;
  background: #ef0557;
  color: #fff;
  padding: 4px 8px 2px;
  font-size: 10px;
}

.indexnewsBlock__linkbtn {
  padding: 30px 0 0 20px;
  text-align: center;
}

.indexnewsBlock__linkbtn a {
  display: inline-block;
  color: #fff !important;
  font-size: 2.4rem;
  width: 32%;
  padding: 15px 0;
  margin: 0 10px;
  text-align: center;
  background: #1b87d8;
}

.indexnewsBlock__linkbtn a:hover {
  opacity: 0.7;
}

@media screen and (max-width: 767px) {
  .indexnewsBlock {
    padding: 60px 0 40px;
  }
  .indexnewsBlock__list {
    font-size: 1.5rem;
  }
  .indexnewsBlock__link {
    display: block;
    color: #333 !important;
    padding: 12px 10px;
    letter-spacing: 1px;
  }
  .indexnewsBlock__link .date {
    display: table-cell;
  }
  .indexnewsBlock__link .txt {
    display: table-cell;
  }
  .indexnewsBlock__linkbtn {
    padding: 20px 0 0 20px;
    text-align: center;
  }
  .indexnewsBlock__linkbtn a {
    font-size: 1.8rem;
    width: 40%;
    padding: 15px 10px;
    margin: 0 5px;
  }
}

@media screen and (max-width: 375px) {
  .indexnewsBlock {
    padding: 20px 0 30px;
  }
  .indexnewsBlock__list {
    font-size: 1.5rem;
  }
  .indexnewsBlock__link {
    display: block;
    color: #333 !important;
    padding: 12px 10px;
    letter-spacing: 1px;
  }
  .indexnewsBlock__link .date {
    display: block;
    margin: 0 0 5px;
  }
  .indexnewsBlock__link .txt {
    display: block;
  }
  .indexnewsBlock__linkbtn {
    padding: 20px 0 0;
    text-align: center;
  }
  .indexnewsBlock__linkbtn a {
    font-size: 1.5rem;
    width: 47%;
    padding: 15px 10px;
    margin: 0 2px;
  }
}
